<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">

        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon-list"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Team
                            <small>Create</small>
                        </h3>
                    </div>
                </div>
                <form action="<%= generateUrl('team.store')%>" enctype="multipart/form-data" method="post"
                    class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>First Name</label>
                                <input id="firstName" name="firstName" type="text" placeholder="Enter First Name"
                                    class="form-control" required
                                    data-validation-required-message="This field is required" value="" />
                            </div>
                            <div class="col-lg-6">
                                <label>Last Name</label>
                                <input id="lastName" name="lastName" type="text" placeholder="Enter Last Name"
                                    class="form-control" required
                                    data-validation-required-message="This field is required" value="" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="content" class="control-label">Designation</label>
                                <input id="designation" name="designation" type="text" placeholder="Enter Designation"
                                    class="form-control" required
                                    data-validation-required-message="This field is required" value="" />
                            </div>
                            <div class="col-lg-6">
                                <label for="content" class="control-label">Image</label>
                                <div class="control">
                                    <input type="file" id="image" name="image" class="form-control only_image"
                                        data-validation-required-message="This field is required" required
                                        accept="image/*" />
                                    <div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Email</label>
                                <input id="email" name="email" type="email" placeholder="Enter Email"
                                    class="form-control" required
                                    data-validation-required-message="This field is required" value="" />
                            </div>

                            <div class="col-lg-6">
                                <label>Facebook Link</label>
                                <input id="facebook" name="facebook" type="text" placeholder="Enter Facebook Link"
                                    class="form-control" required
                                    data-validation-required-message="This field is required" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Instagram Link</label>
                                <input id="instagram" name="instagram" type="text" placeholder="Enter Instagram Link"
                                    class="form-control" required
                                    data-validation-required-message="This field is required" value="" />
                            </div>
                        </div>
                    </div>


                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('team.list')%>"><button type="button"
                                            class="btn btn-secondary">
                                            <i class="ft-x"></i> Cancel
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function validCheck(e) {
        var keyCode = (e.which) ? e.which : e.keyCode;
        if ((keyCode >= 48 && keyCode <= 57) || (keyCode == 8))
            return true;
        else if (keyCode == 46) {
            var curVal = document.activeElement.value;
            if (curVal != null && curVal.trim().indexOf('.') == -1)
                return true;
            else
                return false;
        } else
            return false;
    }
</script>