<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">

        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon-list"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Team
                            <small>Edit</small>
                        </h3>
                    </div>
                </div>
                <form action="<%= generateUrl('team.update')%>" enctype="multipart/form-data" method="post"
                    class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>First Name</label>
                                <input id="firstName" name="firstName" type="text" placeholder="Enter First Name"
                                    class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%= response.data.firstName %>" />
                            </div>
                            <div class="col-lg-6">
                                <label>Last Name</label>
                                <input id="lastName" name="lastName" type="text" placeholder="Enter Last Name"
                                    class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%= response.data.lastName %>" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="content" class="control-label">Designation</label>
                                <input id="designation" name="designation" type="text" placeholder="Enter Designation"
                                    class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%= response.data.designation %>" />
                            </div>

                            <% if(response.data.image!=''){ %>
                            <div class="col-lg-2">
                                <img src="/uploads/team/thumb/<%= response.data.image %>" style="max-width:100%" />
                            </div>
                            <% } %>
                            <div class="col-lg-4">
                                <label for="content" class="control-label">Image</label>
                                <div class="control">
                                    <input type="file" id="image" name="image" class="only_image" accept="image/*" />
                                    <div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
                                </div>
                            </div>

                        </div>


                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Email</label>

                                <input id="email" name="email" type="text" placeholder="Enter Email"
                                    class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%= response.data.email %>" />
                            </div>

                            <div class="col-lg-6">
                                <label>Facebook Link</label>
                                <input id="facebook" name="facebook" type="text" placeholder="Enter Facebook Link"
                                    class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%= response.data.facebook %>" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Instagram Link</label>
                                <input id="instagram" name="instagram" type="text" placeholder="Enter Instagram Link"
                                    class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%= response.data.instagram %>" />
                            </div>
                        </div>
                    </div>


                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="id" value="<%= response.data._id%>">

                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="<%= generateUrl('team.list')%>"><button type="button"
                                            class="btn btn-secondary">
                                            <i class="ft-x"></i> Cancel
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>