<% layout(layout_directory+'/mainLayout') -%>
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">

    <ol class="breadcrumb page-breadcrumb pull-right">
        <li>
            <i class="fa fa-home"></i>&nbsp;
            <a href="<%= generateUrl('user.dashboard')%>">Home</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Add Setting</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-tooltip">Add Setting</h4>
            </div>
            <div class="card-body collapse show">
                <div class="card-block">
                    
                    <form action="<%= generateUrl('setting.store')%>" enctype="multipart/form-data" method="post"
                        class="form-validate" novalidate>
                        <div class="form-body pal">
                            <div class="tab-content px-1 pt-1">
                                <div class="row">
                                        <div class="form-group col-md-12 mb-2">
                                            <label for="setting_name" class="control-label">Setting Name</label>
                                            <div class="controls">
                                                <input id="setting_name" name="setting_name" type="text" placeholder="Enter Setting Name" class="form-control required" required data-validation-required-message="This field is required" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-12 mb-2">
                                            <label for="setting_value" class="control-label">Setting Value</label>
                                            <div class="controls">
                                                <input id="setting_value" name="setting_value" type="text" placeholder="Enter Setting Value" class="form-control required" required data-validation-required-message="This field is required" value="" />
                                            </div>
                                        </div>
                                    </div>

                               
                               
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <a href="<%= generateUrl('setting.list')%>"><button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                            </a>
                            <button type="submit" class="btn btn-primary">Save Setting</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>