<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <!--begin::Portlet-->
    <div class="row">
        <div class="col-lg-12">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Setting Edit
                        </h3>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="kt-form kt-form--label-right" id="kt_form_1" action="<%= generateUrl('setting.update')%>"
                    method="POST" enctype="multipart/form-data">
                    <div class="kt-portlet__body">
                        <div class="form-group form-group-last kt-hide">
                            <div class="alert alert-danger" role="alert" id="kt_form_1_msg">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">
                                    Oh snap! Change a few things up and try submitting again.
                                </div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12"><%= response.data.setting_name %></label>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <% if(response.data.setting_name=='Site Logo'){ %>
                                <div><img src="/uploads/settings/sitelogo/<%= response.data.setting_value %>" /></div>
                                <div><input type="file" id="image" name="image" class="form-control only_image"
                                        data-validation-required-message="This field is required" required
                                        accept="image/*" />
                                    <div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
                                </div>
                                <% }else{ %>
                                <input id="setting_value" name="setting_value" type="text"
                                    placeholder="Enter Setting Value" class="form-control" required
                                    data-validation-required-message="This field is required"
                                    value="<%- response.data.setting_value %>" />
                                <% } %>

                            </div>
                        </div>

                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-xl"></div>



                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <input type="hidden" name="setting_id" value="<%= response.data._id%>">
                                    <button type="submit" class="btn btn-brand">Update</button>
                                    <a href="<%= generateUrl('setting.list')%>">
                                        <button type="button" class="btn btn-secondary">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->
        </div>

    </div>
</div>