<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-xl-12">

                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Setting List</h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <!--begin::Section-->
                        <div class="kt-section">
                            <!--<span class="kt-section__info">&nbsp;</span>-->
                            <div class="kt-section__content">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Setting Name</th>
                                            <th>Setting Value</th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(response.data.length>0){ %>
                                            <% for(var i=0; i< response.data.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= utils.ifBlankThenNA(response.data[i].setting_name) %>
                                            </td>
                                            <td>
                                                <% if(response.data[i].setting_name=='Site Logo'){ %>
                                                <img src="/uploads/settings/sitelogo/<%= response.data[i].setting_value %>" height="100" width="100"/>
                                                <% }else{ %>
                                                <%- utils.ifBlankThenNA(response.data[i].setting_value) %>
                                                <% } %>
                                            </td>
                                            <td style="text-align:center">
                                                <a href="<%= generateUrl('setting.edit',{id: response.data[i]._id}) %>" class="btn btn-secondary" data-original-title="Edit" title="Edit">
                                                    <i class="flaticon-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                            <% } %>
                                        <% }else{ %>
                                        <tr>
                                            <td colspan="3">
                                                <center>No Record Found</center>
                                            </td>
                                        </tr>
                                        <% } %>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--end::Section-->

                    </div>
                </div>

                <!--end::Portlet-->
                
            </div>
            
        </div>
    </div>