<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-list-1"></i>
						</span>
						<h3 class="kt-portlet__head-title">Home<small>Edit</small></h3>
					</div>
				</div>
				<form action="<%= generateUrl('home.update')%>" enctype="multipart/form-data" method="post" class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="blockListing">
							<h2 class="product_heading">Banner Block</h2>
							<div class="form-group row">
								<div class="col-lg-12">
									<label>Banner Title</label>
									<input id="title" name="title" type="text" placeholder="Enter Title" class="form-control required" required			data-validation-required-message="This field is required" value="<%=response.data.banner_block.banner_title %>" />
								</div>
							</div>
							<% if(response.data.banner_block.banner_image !=''){ %>
								<div class="form-group row uploadImg">
									<div class="col-lg-12">
										<img src="/uploads/home/thumb/<%= response.data.banner_block.banner_image %>"	style="max-width:50%" />
									</div>
								</div>
							<% } %>
							<div class="form-group row uploadImg">>
								<div class="col-lg-12">
									<label for="content" class="control-label">Banner Image</label>
									<div class="control">
										<input type="file" id="image" name="banner_image" class="only_image" accept="image/*" />
										<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
									</div>
								</div>
							</div>
						</div>
						<div class="blockListing">
							<h2 class="product_heading">Logo Block</h2>
							<div class="form-group row">
								<div class="col-lg-12">
									<label>Content</label>
									<input id="small_content" name="small_content" type="text" placeholder="Enter content"	class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.middle_content_block.small_content%>" />
								</div>
							</div>
							<div id="urlDiv" class="form-group">
								<div class="" id="urlDivLess_">
									<div class="form-group row uploadImg">
										<% for(var s = 0; s < response.data.middle_content_block.middle_content_logo.length ; s++) { %>
											<div class="col-lg-12">
												<% if(response.data.middle_content_block.middle_content_logo[s].logo !=''){ %>
													<div class="">
														<img src="/uploads/home/thumb/<%= response.data.middle_content_block.middle_content_logo[s].logo %>"
style="max-width:50%" />						
													</div>
												<% } %>
												<div class="mrtop">
													<label for="content" class="control-label">Logo Image <%= (s+1) %></label>
													<div class="controls">
														<input type="file" id="image" name="middle_content_logo[<%= s %>][logo]" class="only_image" accept="image/*" />
														<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
													</div>
												</div>
											</div>
										<% } %>
									</div>
								</div>
							</div>
						</div>
						<div class="blockListing">
						<h2 class="product_heading">Brand Block</h2>
						
						<div class="form-group row">
						<div class="col-lg-6">
						<label>Post Content Header</label>
						<input type="text" name="post_content_header" class="form-control"
						data-validation-required-message="This field is required"
						value="<%=response.data.middle_content_block.post_content_header%>">
						</div>
						
						<div class="col-lg-6">
						<label>Post Content Text</label>
						<textarea rows="4" name="post_content_text" class="form-control"
						data-validation-required-message="This field is required"><%=response.data.middle_content_block.post_content_text%></textarea>
						</div>
						</div>
						
						<% if(response.data.middle_content_block.post_content_right_image !=''){ %>
						<div class="form-group row">
						<div class="col-lg-12 uploadImg">
						<img src="/uploads/home/thumb/<%= response.data.middle_content_block.post_content_right_image %>"
						style="max-width:100%" />
						</div>
						</div>
						<% } %>
						<div class="form-group row">
						<div class="col-lg-12 uploadImg">
						<label for="content" class="control-label">Post Content Right Image</label>
						<div class="control">
						<input type="file" id="image" name="post_content_right_image" class="only_image"
						accept="image/*" />
						<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
						</div>
						</div>
						</div>
						<div class="blockListing">
						<h2 class="product_heading">Plan & Schedule</h2>
						
						<div class="form-group row">
						<div class="col-lg-12">
						<label>Post Content Middle Header</label>
						<input type="text" name="post_content_middle_header" class="form-control"
						data-validation-required-message="This field is required"
						value="<%=response.data.middle_content_block.post_content_middle_header%>">
						</div>
						</div>
						<div class="form-group row">
						<div class="col-lg-12">
						<label>Post Content Middle Text</label>
						<textarea rows="4" name="post_content_middle_text" class="form-control"
						data-validation-required-message="This field is required"><%=response.data.middle_content_block.post_content_middle_text%></textarea>
						</div>
						</div>
						
						<% if(response.data.middle_content_block.post_content_middle_image !=''){ %>
						<div class="form-group row">
						<div class="col-lg-12 uploadImg">
						<img src="/uploads/home/thumb/<%= response.data.middle_content_block.post_content_middle_image %>"
						style="max-width:100%" />
						</div>
						</div>
						<% } %>
						<div class="form-group row">
						<div class="col-lg-12 uploadImg">
						<label for="content" class="control-label">Post Content Middle Image</label>
						<div class="control">
						<input type="file" id="image" name="post_content_middle_image" class="only_image"
						accept="image/*" />
						<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
						</div>
						</div>
						</div>
						<div class="blockListing">
							<h2 class="product_heading">Instagram & Facebook Scheduler</h2>
								<div class="form-group row">
									<div class="col-lg-6">
										<label>Post Content Lower Header</label>
										<input type="text" name="post_content_lower_header" class="form-control"	data-validation-required-message="This field is required"	value="<%=response.data.middle_content_block.post_content_lower_header%>">
									</div>		
									<div class="col-lg-6">
										<label>Post Content Lower Text</label>
										<input type="text" name="post_content_lower_text" class="form-control" data-validation-required-message="This field is required" value="<%=response.data.middle_content_block.post_content_lower_text%>">
									</div>
								</div>		
								<% response.data.middle_content_block.post_content_lower_feature.map( function (item, s) {  %>
									<% if(item.image !=''){ %>
										<div class="form-group row">
											<div class="col-lg-12 uploadImg">
												<img src="/uploads/home/thumb/<%= item.image %>" style="max-width:100%" />
											</div>
										</div>
									<% } %>
									<div class="form-group row">
										<div class="col-lg-12 uploadImg">
											<label for="content" class="control-label">Post Content Lower Feature image <%= s+1 %></label>
											<div class="control">
												<input type="file" id="image" name="post_content_lower_feature[<%= s %>][image]" class="only_image" accept="image/*" />
												<input type="hidden" name="hid_post_content_lower_feature[<%= s %>][image]" value="<%= item.image %>">
												<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-lg-6">
											<label>Post Content Lower Feature Header <%= s+1 %></label>
											<input type="text" name="post_content_lower_feature[<%= s %>][header]" class="form-control"			data-validation-required-message="This field is required"	value="<%=item.header%>">
										</div>
										<div class="col-lg-6">
											<label>Post Content Lower Feature Description <%= s+1 %></label>
											<textarea rows="2" name="post_content_lower_feature[<%= s %>][description]" class="form-control"
data-validation-required-message="This field is required"><%=item.description%></textarea>
										</div>
									</div>
									<% 
								})
								%>
						</div>
						<div class="blockListing">
						<h2 class="product_heading">Company Block</h2>
						
						
						<div class="form-group row">
						<div class="col-lg-12">
						<label>Header Title</label>
						<input id="title" name="company_content_banner_title" type="text"
						placeholder="Enter Title" class="form-control required" required
						data-validation-required-message="This field is required"
						value="<%=response.data.company_content_block.header_title %>" />
						</div>
						</div>
						<div class="form-group row">
						<div class="col-lg-12">
						<label>Header Description</label>
						<textarea rows="4" id="title" name="company_content_header_description"
						placeholder="Enter Description" class="form-control required" required
						data-validation-required-message="This field is required" /><%=response.data.company_content_block.header_description %></textarea>
						</div>
						</div>
						</div>
			<div class="blockListing">
			<h2 class="home_heading">IOS Plan & Schedule</h2>
			
			<div class="form-group row">
			<div class="col-lg-12">
			<label>Header Title</label>
			<input id="title" name="company_post_content_middle_header" type="text"
			placeholder="Enter Title" class="form-control required" required
			data-validation-required-message="This field is required"
			value="<%=response.data.company_content_block.post_content_middle_header %>" />
			</div>
			</div>
			<div class="form-group row">
			<div class="col-lg-12">
			<label>Header Description</label>
			<textarea rows="4" name="company_content_middle_description" type="text"
			placeholder="Enter Title" class="form-control required" required
			data-validation-required-message="This field is required" /><%=response.data.company_content_block.post_content_middle_text %></textarea>
			</div>
			</div>
			<% if(response.data.company_content_block.post_content_middle_image !=''){ %>
			<div class="form-group row uploadImg">
			<div class="col-lg-12">
			<img src="/uploads/home/thumb/<%= response.data.company_content_block.post_content_middle_image %>"
			style="max-width:100%" />
			</div>
			</div>
			<% } %>
			<div class="form-group row uploadImg">
			<div class="col-lg-12">
			<label for="content" class="control-label">Post Content Middle Image</label>
			<div class="control">
			<input type="file" id="image" name="comapany_post_content_middle_image"
			class="only_image" accept="image/*" />
			<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
			</div>
			</div>
			</div>
			</div>
			
			
			
			<div class="blockListing">
			<h2 class="product_heading">Prcing Block</h2>
			
			<div class="form-group row">
			<div class="col-lg-12">
			<label>Header Title</label>
			<input id="title" name="pricing_content_banner_title" type="text"
			placeholder="Enter Title" class="form-control required" required
			data-validation-required-message="This field is required"
			value="<%=response.data.pricing_content_block.header_title %>" />
			</div>
			</div>
			<div class="form-group row">
			<div class="col-lg-12">
			<label>Header Description</label>
			<input id="title" name="pricing_content_banner_description" type="text"
			placeholder="Enter Title" class="form-control required" required
			data-validation-required-message="This field is required"
			value="<%=response.data.pricing_content_block.header_text %>" />
			</div>
			</div>
			<% if(response.data.pricing_content_block.header_pricing_business_image !=''){ %>
			<div class="form-group row uploadImg">
			<div class="col-lg-12">
			<img src="/uploads/home/thumb/<%= response.data.pricing_content_block.header_pricing_business_image %>"
			style="max-width:100%" />
			</div>
			</div>
			<% } %>
			<div class="form-group row uploadImg">
			<div class="col-lg-12">
			<label for="content" class="control-label">Pricing Content Header Image</label>
			<div class="control">
			<input type="file" id="image" name="pricing_header_image" class="only_image"
			accept="image/*" />
			<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
			</div>
			</div>
			</div>
			</div>
			<div class="blockListing">
			<h2 class="product_heading">Try Block</h2>
			
			<div class="form-group row">
			<div class="col-lg-12">
			<label>Header Title</label>
			<input id="title" name="pricing_post_content_middle_header" type="text"
			placeholder="Enter Title" class="form-control required" required
			data-validation-required-message="This field is required"
			value="<%=response.data.pricing_content_block.post_content_middle_header %>" />
			</div>
			</div>
			<div class="form-group row">
			<div class="col-lg-12">
			<label>Header Text</label>
			<textarea rows="4" id="title" name="pricing_content_middle_description"
			placeholder="Enter Title" class="form-control required" required
			data-validation-required-message="This field is required" /><%=response.data.pricing_content_block.post_content_middle_text %></textarea>
			</div>
			</div>
			</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="kt-portlet__foot">
		<div class="kt-form__actions">
		<div class="row">
		<div class="col-lg-6">
		<input type="hidden" name="home_id" value="<%= response.data._id%>">
		<button type="submit" class="btn btn-primary">Update</button>
		<a href="<%= generateUrl('home.list')%>">
		<button type="button" class="btn btn-secondary"><i class="ft-x"></i>
		Cancel</button>
		</a>
		</div>
		</div>
		</div>
		</div>
		
		</form>
	</div>
</div>
</div>
</div>