<% layout(layout_directory+'/mainLayout') -%>
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">

    <ol class="breadcrumb page-breadcrumb pull-right">
        <li>
            <i class="fa fa-home"></i>&nbsp;
            <a href="<%= generateUrl('user.dashboard')%>">Home</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Create Mail Template</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-tooltip">Create Mail Template</h4>
            </div>
            <div class="card-body collapse show">
                <div class="card-block">
                    <form action="<%= generateUrl('template.store')%>" enctype="multipart/form-data" method="post" class="form-validate" novalidate>
                        <div class="form-body pal">
                            <div class="tab-content px-1 pt-1">
                                <div class="row">
                                    <div class="form-group col-md-12 mb-2">
                                        <label for="first_name" class="control-label">Title</label>
                                        <div class="controls">
                                            <input id="title" name="title" type="text" placeholder="Enter Title" class="form-control required" required data-validation-required-message="This field is required" value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12 mb-2">
                                        <label for="content" class="control-label">Content</label>
                                        <div class="controls">
                                            <textarea name="content" rows="6" class="ckeditor form-control" data-validation-required-message="This field is required"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <a href="<%= generateUrl('template.list')%>"><button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                            </a>
                            <button type="submit" class="btn btn-primary">Create Template</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>