<% layout(layout_directory+'/mainLayout') -%>
<section id="add-row">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Mail Template List</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body collapse show">
                    <div class="card-block">
                        <form role="search" method="GET" action="<%= generateUrl('template.list')%>"
                            accept-charset="UTF-8" class="form-validate mt-2" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="position-relative has-icon-right">
                                        <input class="form-control round" placeholder="Enter The Keyword" name="keyword"
                                            value="<%=postdata.keyword%>" type="text">
                                        <div class="form-control-position">
                                            <i class="ft-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input value="Search" class="btn btn-danger" type="submit">
                                    <a href="<%= generateUrl('template.list')%>" class="btn btn-success">View All</a>
                                </div>
                                <div class="col-md-4">
                                    <!--<a href="<%= generateUrl('template.create') %>" class="btn btn-primary pull-right">
                                        <i class="fa fa-plus-square"></i>&nbsp; Add &nbsp;
                                    </a>-->
                                </div>

                            </div>
                        </form>

                        <table class="table table-striped table-bordered add-rows">
                            <thead>
                                <tr>
                                    <th width="35%">Title</th>
                                    <th width="10%" style="text-align:center">Status</th>
                                    <th width="10%" style="text-align:center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(response.data.length >0){ %>
                                <% for(var i=0; i< response.data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= response.data[i].title%>
                                    </td>
                                    <td style="text-align:center">
                                        <!-- <a href="javascript:void(0)" onclick="statusChangeFunction('template',this)"
                                            data-team="<%= response.data[i]._id %>" class="btn-sm white btn-round 
                                            <%= (response.data[i].status == 'Active') ? 'btn-success' : 'btn-danger' %>">
                                            <%=response.data[i].status %>
                                        </a> -->
                                        <a href="javascript:void(0)" onclick="statusChangeFunction('template' ,this)" data-team="<%= response.data[i]._id %>" class="btn-sm white btn-round <%= (response.data[i].status == "Active") ? "btn-success" : "btn-danger"  %>"><%= response.data[i].status  %></a>
                                    </td>

                                    <td style="text-align:center">
                                        <a href="<%= generateUrl('template.edit',{id: response.data[i]._id}) %>" class="success p-0" data-original-title="Update" title="Update"><i class="ft-edit-2 font-medium-3 mr-2"></i></a>
                                        <a href="<%= generateUrl('template.delete', {id: response.data[i]._id})%>" class="danger p-0 delete" data-original-title="Delete" title="Delete"><i class="ft-x font-medium-3 mr-2"></i></a>
                                    </td>
                                </tr>
                                <% } %>
                                <% }else{ %>
                                <tr>
                                    <td colspan="6">
                                        <center>No Record Found</center>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <%- partial(partial_directory+'/pagination.ejs')%>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>