

<div class="">
<div class="">Hi ,</div>
<div class="">
    <p><%= firstName %> <%= lastName %> has invited you to join his team in Scheduley.</p>
</div>
<div class="">Here's the invitation link: <span style="color: crimson"><a href="<%= link %>"><%= link %></a></span></div>
<div class="">
    <p>Thank You,</p>
</div>
<div class="">Regards, Schdeduley Admin</div>
</div>


