.customBgColor {
    background-color: #3d3d86;
}

.dropdown-menu.show {
    z-index: 989;
    width: 100%;
}

div#upload_error {
    margin-top: 10px;
}

.smallHeaderMenu {
    width: 380px !important;
    /* right: 0;
    left: inherit !important; */
}

#category_id+.btn-group {
    width: 100%;
}

#category_id+.btn-group button {
    text-align: left;
}

#category_id+.btn-group button .multiselect-selected-text {
    width: calc(100% - 20px);
    display: inline-block;
}

textarea {
    resize: none;
}

.blockListing {
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    background: #F1F1F2;
    border-bottom: 3px solid #c1c1c1;
    margin-bottom: 30px;
}

.blockListing label {
    color: #000;
}

.mrtop {
    margin-top: 10px;
    margin-bottom: 40px;
}

.blockListing .uploadImg .col-lg-12 {
    max-width: 25%;
    float: left;
}

.blockListing .uploadImg {
    width: 100%;
}

.kt-widget14__legends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashPage {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 43px;
}

.kt-datatable.kt-datatable--default>.kt-datatable__pager {
    display: none;
}

.tb-font .font-weight-bold {
    font-size: 10px;
}

.clickbtn {
    display: inline-block;
    padding: 5px 8px;
    background: #22b9ff;
    color: #fff;
    transition: 0.3s all ease-in-out 0s;
}

.clickbtn:hover {
    background: #212529;
    color: #fff;
}

.imgbtn {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.imgbtn img {
    margin-right: 10px;
}

.tb-font tr td:first-child {
    width: 50%;
}

.tb-font tr td:last-child {
    width: 50%;
}

.dateRangePicker {
    display: flex;
}

.filter-select-row {
    justify-content: flex-end;
    margin: 0;
    margin-bottom: 15px;
    background: #3d9da0;
    /* border: 1px solid #dadada; */
}

.right_select.filter-select {
    padding-right: 15px;
}

.right_select.filter-select .filter_txt {
    left: 15px;
    color: #fff;
}

.right_select.filter-select input[type=text] {
    box-shadow: none;
    border: none;
    margin-right: 10px;
    padding: 0 8px;
}

.right_select.filter-select input[type=text]:last-child {
    margin-right: 0;
}

.cvrate {
    padding-left: 2rem;
    display: flex;
    margin-top: 20px;
    font-weight: 600;
}

.cvrate span {
    display: inline-block;
    margin-right: 8px;
}

.kt-widget14_selectbox .dateRangePicker input[type=text]:first-child {
    margin-right: 10px;
}

.kt-widget14_selectbox .dateRangePicker input[type=text] {
    padding: 0 8px;
}

.kt-portlet__head-toolbar {
    margin-left: 10px;
}

.promoSelect {
    padding-left: 7px;
}