
<script> 
        function clickAndDisable(link) {
          // disable subsequent clicks
          link.onclick = function(event) {
             event.preventDefault();
          }
        }   
     </script>
<div class="">
    <div class="">Hi <%= firstName %> <%= lastName %> ,</div>
    <div class="">
        <p>We've received a request to reset your password.</p>
    </div>
    <div class="">Here's your password reset link: <span style="color: crimson"><a href="<%= link %>" onclick="clickAndDisable(this);"><%= link %></a></span></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, Schdeduley Admin</div>
</div>


