<div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed ">
    <!-- begin:: Aside -->
    <div class="kt-header__brand kt-grid__item customBgColor " id="kt_header_brand">
        <div class="kt-header__brand-logo">
            <a href="<%= generateUrl('user.dashboard') %>">
                <% if(typeof setting == 'object'){ %>
                <img src="/uploads/settings/sitelogo/<%= setting.Site_Logo %>" style="max-width:75px;" />
                <% }else{ %>
                <img src="/img/logos/logo.png" style="max-width:75px;" />
                <% } %>
            </a>
        </div>
    </div>

    <!-- end:: Aside -->

    <!-- begin:: Title -->
    <h3 class="kt-header__title kt-grid__item">
        <%= (typeof setting == 'object')?setting.Site_Title:'' %>
    </h3>

    <!-- end:: Title -->

    <!-- begin: Header Menu -->
    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
            class="la la-close"></i></button>
    <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
            <% if (user.role[0].role == 'admin') { %>
            <ul class="kt-menu__nav ">

                <li class="kt-menu__item  kt-menu__item--active " aria-haspopup="true"><a
                        href="<%= generateUrl('user.dashboard') %>" class="kt-menu__link "><span
                            class="kt-menu__link-text">Dashboard</span></a></li>
                <li class="kt-menu__item  kt-menu__item--active " aria-haspopup="true"><a
                        href="<%= generateUrl('setting.list') %>" class="kt-menu__link "><span
                            class="kt-menu__link-text">Settings</span></a></li>

            </ul>
            <% } %>
        </div>
    </div>
    <!-- end: Header Menu -->

    <!-- begin:: Header Topbar -->
    <div class="kt-header__topbar">

        <!--begin: User bar -->
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                <span class="kt-hidden kt-header__topbar-welcome">Hi,</span>
                <span class="kt-hidden kt-header__topbar-username">Nick</span>
                <img class="kt-hidden" alt="Pic" src="/assets/media/users/300_21.jpg" />
                <span class="kt-header__topbar-icon kt-hidden-"><i class="flaticon2-user-outline-symbol"></i></span>
            </div>
            <div
                class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl smallHeaderMenu">

                <!--begin: Head -->
                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                    style="background-image: url(/assets/media/misc/bg-1.jpg)">
                    <div class="kt-user-card__avatar">
                        <img class="kt-hidden" alt="Pic" src="/assets/media/users/300_25.jpg" />

                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                        <span
                            class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success"><%= user.firstName.charAt(0).toUpperCase() %></span>
                    </div>
                    <div class="kt-user-card__name">
                        <%= user.firstName+' '+user.lastName %>
                    </div>
                    <!--<div class="kt-user-card__badge">
                        <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
                    </div>-->
                </div>

                <!--end: Head -->

                <!--begin: Navigation -->
                <div class="kt-notification">
                    <a href="<%= generateUrl('user.myprofile', { id:user.id})%>" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon-profile-1"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                My Profile
                            </div>
                            <div class="kt-notification__item-time">
                                Basic Profile Edit
                            </div>
                        </div>
                    </a>

                    <a href="<%= generateUrl('user.changepassword') %>" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-lock kt-font-brand"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Change Password
                            </div>
                            <div class="kt-notification__item-time">
                                Change Login Password
                            </div>
                        </div>
                    </a>
                    <div class="kt-notification__custom">
                        <a href="<%= generateUrl('user.logout')%>" class="btn btn-label-brand btn-sm btn-bold">Sign
                            Out</a>
                    </div>
                </div>

                <!--end: Navigation -->
            </div>
        </div>

        <!--end: User bar -->

    </div>
    <!-- end:: Header Topbar -->
</div>