<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
	<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
		<div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
			data-ktmenu-dropdown-timeout="500">
			<ul class="kt-menu__nav ">
				<% if (user.role[0].role == 'admin') { %>
				<li class="kt-menu__item  <%= (page_name == 'user-dashboard')?'kt-menu__item--active':'' %>"
					aria-haspopup="true">
					<a href="<%= generateUrl('user.dashboard') %>" class="kt-menu__link">
						<i class="kt-menu__link-icon flaticon-dashboard"></i>
						<span class="kt-menu__link-text">Dashboard</span>
					</a>
				</li>
				<li class="kt-menu__item <%= (page_name == 'setting-management')?'kt-menu__item--active':'' %>"
					aria-haspopup="true">
					<a href="<%= generateUrl('setting.list') %>" class="kt-menu__link ">
						<i class="kt-menu__link-icon flaticon2-gear"></i>
						<span class="kt-menu__link-text">Settings</span>
					</a>
				</li>
				<li class="kt-menu__item <%= (page_name == 'user-management')?'kt-menu__item--active':'' %>"
					aria-haspopup="true">
					<a href="<%= generateUrl('user.list') %>" class="kt-menu__link ">
						<i class="kt-menu__link-icon flaticon2-user"></i>
						<span class="kt-menu__link-text">Users</span>
					</a>
				</li>
				<li class="kt-menu__item <%= (page_name == 'plan-management')?'kt-menu__item--active':'' %>"
					aria-haspopup="true">
					<a href="<%= generateUrl('plan.list') %>" class="kt-menu__link ">
						<i class="kt-menu__link-icon fa fa-ticket-alt"></i>
						<span class="kt-menu__link-text">Plan Management</span>
					</a>
				</li>
				<li class="kt-menu__item <%= (page_name == 'promocode-management')?'kt-menu__item--active':'' %>"
					aria-haspopup="true">
					<a href="<%= generateUrl('promocode.list')%>" class="kt-menu__link ">
						<i class="kt-menu__link-icon fa fa-percent"></i>
						<span class="kt-menu__link-text">Promo Management</span>
					</a>
				</li>
				<!-- <li class="kt-menu__item <%= (page_name == 'company-management')?'kt-menu__item--active':'' %>"
					aria-haspopup="true">
					<a href="<%= generateUrl('company.list')%>" class="kt-menu__link ">
						<i class="kt-menu__link-icon fa fa-building"></i>
						<span class="kt-menu__link-text">Company Settings</span>
					</a>
				</li> -->

				<!-- report Management -->
				<li
					class="kt-menu__item kt-menu__item--submenu <%= (page_name == 'subscription-report-management' || page_name == 'user-report-management')?'kt-menu__item--open':'' %>"
					aria-haspopup="true" data-ktmenu-submenu-toggle="hover">

					<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
						<i class="kt-menu__link-icon fa fa-chart-line"></i>
						<span class="kt-menu__link-text">Report Management</span><i
							class="kt-menu__ver-arrow la la-angle-right"></i></a>
					<div class="kt-menu__submenu" kt-hidden-height="160"><span class="kt-menu__arrow"></span>
						<ul class="kt-menu__subnav">
							<li class="kt-menu__item <%= (page_name == 'user-report-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('userreport.list')%>" class="kt-menu__link ">
									<i class="kt-menu__link-icon flaticon2-user"></i>
									<span class="kt-menu__link-text">New User</span>
								</a>
							</li>
							<li
								class="kt-menu__item <%= (page_name == 'subscription-report-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('userreport.subscription')%>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-ticket-alt"></i>
									<span class="kt-menu__link-text">Plan Subscription</span>
								</a>
							</li>
							<li class="kt-menu__item <%= (page_name == 'user-promocode-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('userreport.promo')%>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-ticket-alt"></i>
									<span class="kt-menu__link-text">Promo Usage</span>
								</a>
							</li>
							<li class="kt-menu__item <%= (page_name == 'user-type-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('userreport.trial')%>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-ticket-alt"></i>
									<span class="kt-menu__link-text">Paid and Trial User</span>
								</a>
							</li>

						</ul>
					</div>
				</li>
				<!-- end report Management -->

				<!-- cms Management -->
				<li class="kt-menu__item kt-menu__item--submenu <%= (page_name == 'cms-management')?'kt-menu__item--open':'' %>"
					aria-haspopup="true" data-ktmenu-submenu-toggle="hover">

					<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
						<i class="kt-menu__link-icon flaticon2-list-1"></i>
						<span class="kt-menu__link-text">CMS Management</span><i
							class="kt-menu__ver-arrow la la-angle-right"></i></a>
					<div class="kt-menu__submenu" kt-hidden-height="160"><span class="kt-menu__arrow"></span>
						<ul class="kt-menu__subnav">

							<li class="kt-menu__item <%= (page_name == 'home-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('home.list') %>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-home"></i>
									<span class="kt-menu__link-text">Home</span>
								</a>
							</li>

							<li class="kt-menu__item <%= (page_name == 'case-study-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('case.list') %>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-industry"></i>
									<span class="kt-menu__link-text">Case Studies</span>
								</a>
							</li>

							<li class="kt-menu__item <%= (page_name == 'product-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('product.list') %>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fab fa-product-hunt"></i>
									<span class="kt-menu__link-text">Features</span>
								</a>
							</li>

							<li class="kt-menu__item <%= (page_name == 'about_us-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('about_us.list')%>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-info-circle"></i>
									<span class="kt-menu__link-text">About Us</span>
								</a>
							</li>

							<li class="kt-menu__item <%= (page_name == 'team-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('team.list') %>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-users"></i>
									<span class="kt-menu__link-text">Team Management</span>
								</a>
							</li>



							<li class="kt-menu__item <%= (page_name == 'faq-management')?'kt-menu__item--active':'' %>"
								aria-haspopup="true">
								<a href="<%= generateUrl('faq.list') %>" class="kt-menu__link ">
									<i class="kt-menu__link-icon fa fa-question-circle"></i>
									<span class="kt-menu__link-text">FAQ</span>
								</a>
							</li>



						</ul>
					</div>
				</li>
				<!-- end cms Management -->

				<% }  %>

			</ul>
		</div>
	</div>
</div>