<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-list-1"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            About Us
                            <small>edit</small>
                        </h3>
                    </div>
                </div>
                <form action="<%= generateUrl('about_us.update')%>" enctype="multipart/form-data" method="post"
                    class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="blockListing">
                            <h2 class="product_heading">Main Heading section</h2>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>About Us Title</label>
                                    <input id="title" name="title" type="text" placeholder="Enter Title"
                                        class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.title %>" />
                                </div>
                                <div class="col-lg-6">
                                    <label>Short Description</label>
                                    <input id="short_description" name="short_description" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.short_description %>" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Description</label>
                                    <textarea name="description" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.description%></textarea>
                                </div>
                            </div>
                            <% if(response.data.image !=''){ %>
                            <div class="form-group row uploadImg">
                                <div class="col-lg-12">
                                    <img src="/uploads/about_us/thumb/<%= response.data.image %>"
                                        style="max-width:50%" />
                                </div>
                            </div>
                            <% } %>
                            <div class="form-group row uploadImg">
                                <div class="col-lg-12">
                                    <label for="content" class="control-label">Image</label>
                                    <div class="control">
                                        <input type="file" id="image" name="image" class="only_image"
                                            accept="image/*" />
                                        <div id="upload_error" class="imgErr" style="display:none">Invalid image type
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blockListing">
                            <h2 class="product_heading">Sub Heading section</h2>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Sub Heading Title</label>
                                    <input id="sub_heading_title" name="sub_heading.title" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.sub_heading.title%>" />
                                </div>

                                <div class="col-lg-6">
                                    <label>Sub Heading Description</label>
                                    <input id="description" name="response.data.sub_heading.description" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.sub_heading.description %>" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Enter value1</label>
                                    <input id="title" name="sub_heading.value[0][value]" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.sub_heading.value[0].value%>" />
                                </div>
                                <div class="col-lg-6">
                                    <label>Value description</label>
                                    <input id="description" name="sub_heading.value[0][value_title]"
                                        type="text" placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.sub_heading.value[0].value_title %>" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Enter value2</label>
                                    <input id="title" name="sub_heading.value[1][value]" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.sub_heading.value[1].value%>" />
                                </div>
                                <div class="col-lg-6">
                                    <label>Value description</label>

                                    <input id="description" name="sub_heading.value[1][value_title]"
                                        type="text" placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.sub_heading.value[1].value_title %>" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Enter value3</label>
                                    <input id="title" name="sub_heading.value[2][value]" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.sub_heading.value[2].value%>" />
                                </div>
                                <div class="col-lg-6">
                                    <label>Value description</label>
                                    <input id="description" name="sub_heading.value[2][value_title]"
                                        type="text" placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.sub_heading.value[2].value_title %>" />
                                </div>
                            </div>
                        </div>

                        <div class="blockListing">
                            <h2 class="product_heading">About Block</h2>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>About Heading</label>
                                    <input id="title" name="about_title" type="text" placeholder="Enter Title"
                                        class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%= response.data.about_title %>" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>About Content</label>
                                    <textarea name="about_content" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.about_content%></textarea>
                                </div>
                            </div>
                            <% if(response.data.about_image !=''){ %>
                            <div class="form-group row uploadImg">
                                <div class="col-lg-12">
                                    <img src="/uploads/about_us/thumb/<%= response.data.about_image %>"
                                        style="max-width:50%" />
                                </div>
                            </div>
                            <% } %>
                            <div class="form-group row uploadImg">
                                <div class="col-lg-12">
                                    <label for="content" class="control-label">Image</label>
                                    <div class="control">
                                        <input type="file" id="image" name="about_image" class="only_image"
                                            accept="image/*" />
                                        <div id="upload_error" class="imgErr" style="display:none">Invalid image type
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blockListing">
                            <h2 class="product_heading">How it works section</h2>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>How it works Title</label>
                                    <input id="how_it_works_title" name="how_it_works.title" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.how_it_works.title%>" />
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>How it works description</label>
                                    <textarea name="how_it_works.description" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.how_it_works.description%></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step1 Title</label>
                                    <input id="how_it_works_title" name="how_it_works.step1.title" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.how_it_works.step1.title%>" />
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step1 description</label>
                                    <textarea name="how_it_works.step1.description" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.how_it_works.step1.description%></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step2 Title</label>
                                    <input id="how_it_works_title" name="how_it_works.step2.title" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.how_it_works.step2.title%>" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step2 description</label>
                                    <textarea name="how_it_works.step2.description" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.how_it_works.step2.description%></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step3 Title</label>
                                    <input id="how_it_works_title" name="how_it_works.step3.title" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.how_it_works.step3.title%>" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step3 description</label>
                                    <textarea name="how_it_works.step3.description" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.how_it_works.step3.description%></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step4 Title</label>
                                    <input id="how_it_works_title" name="how_it_works.step4.title" type="text"
                                        placeholder="Enter Title" class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.how_it_works.step4.title%>" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Step4 description</label>
                                    <textarea name="how_it_works.step4.description" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.how_it_works.step4.description%></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="blockListing">
                            <h2 class="product_heading">Try Block</h2>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Try Block Heading</label>
                                    <input id="title" name="try_block.try_title" type="text" placeholder="Enter Title"
                                        class="form-control required" required
                                        data-validation-required-message="This field is required"
                                        value="<%=response.data.try_block.try_title%>" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Try Block Content</label>
                                    <textarea name="try_block.try_content" rows="6" class="form-control"
                                        data-validation-required-message="This field is required"><%=response.data.try_block.try_content%></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="pro_id" value="<%= response.data._id%>">
                                    <button type="submit" class="btn btn-primary">
                                        Update</button>
                                    <a href="<%= generateUrl('about_us.list')%>"><button type="button"
                                            class="btn btn-secondary">
                                            <i class="ft-x"></i> Cancel
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>