<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon-list"></i>
                </span>
                <h3 class="kt-portlet__head-title">About  List</small></h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <!--<a href="<%= generateUrl('faq.create') %>" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            Add New
                        </a>-->
                    </div>
                </div>
            </div>
        </div>

	<div class="kt-portlet__body">
		<!--begin: Datatable -->
		<table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
			<thead>
				<tr>
					<th>Title</th>
					<th style="text-align:center">Short Description</th>
					<th style="text-align:center">Action</th>
				</tr>
			</thead>
			<tbody>
				<% if(response.data.length>0){ %>
					<% for(var i=0; i< response.data.length; i++) { %>
						<tr>
							<td><%= response.data[i].title %></td>
							<td style="text-align:center"><%= response.data[i].short_description %></td>
							<td style="text-align:center">
								<a href="<%= generateUrl('about_us.edit',{id: response.data[i]._id}) %>" data-original-title="Edit" title="Edit">
									<i class="flaticon-edit"></i>
								</a>
							</td>
						</tr>
					<% } %>
				<% }else{ %>
					<tr><td colspan="5"><center>No Record Found</center></td></tr>
				<% } %>
			</tbody>
		</table>
		<!--end: Datatable -->
	</div>
        <script>
            "use strict";
            var KTDatatablesDataSourceHtml = function () {

                var initTable1 = function () {
                    var table = $('#html_table');

                    // begin first table
                    table.DataTable({
                        responsive: true,
                        "columns": [
                            null,
                            {
                                "orderable": false
                            },
                            {
                                "orderable": false
                            }
                        ]
                    });
                };

                return {
                    //main function to initiate the module
                    init: function () {
                        initTable1();
                    },
                };
            }();

            jQuery(document).ready(function () {
                KTDatatablesDataSourceHtml.init();
            });
        </script>
    </div>
</div>