<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">

		<!--END TITLE & BREADCRUMB PAGE-->
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon-list"></i>
						</span>
						<h3 class="kt-portlet__head-title"> Promo Code <small>Create</small>
						</h3>
					</div>
				</div>

				<form action="<%= generateUrl('promocode.store')%>" enctype="multipart/form-data" method="post"
					class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">

						<div class="kt-radio-inline form-group">
							<label>Promo Code Type</label> <br />
							<label class="kt-radio">
								<input type="radio" name="radiotype" class="chradio" value="General" checked required
									data-validation-required-message="This field is required">General
								<span></span>
							</label>
							<label class="kt-radio">
								<input type="radio" name="radiotype" class="chradio" value="User" required
									data-validation-required-message="This field is required">User
								<span></span>
							</label>
							<label class="kt-radio">
								<input type="radio" name="radiotype" class="chradio" value="Subscription" required
									data-validation-required-message="This field is required">Subscription
								<span></span>
							</label>
						</div>

						<div class="form-group row">
							<div class="col-lg-6">
								<label>Coupon</label>
								<input id="title" name="title" type="text" placeholder="Display Coupon" class="form-control" required
									data-validation-required-message="This field is required" value="" readonly />
							</div>
							<div class="col-lg-6">
								<label>Percentage (%)</label>
								<input id="price" name="price" min="0" type="number" placeholder="Enter Number" class="form-control"
									required data-validation-required-message="This field is required" value=""
									onkeypress="return validCheck(event);" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-lg-6">
								<label>Usage Count</label>
								<input id="promo_count" name="promo_count" min="0" type="number" placeholder="Enter Count"
									class="form-control" required data-validation-required-message="This field is required" value="" />
							</div>
							<div class="col-lg-6">
								<label>Expiry Date</label>
								<input type="text" onchange="checkDate()" name="expiry_date" class="form-control" id="kt_datepicker_1"
									readonly placeholder="Select date" />
								<div id="dateTimeAlert"></div>
							</div>
						</div>

						<div class="form-group row" id="userlist" style="display:none;">
							<div class="col-lg-12">
								<label for="content" class="control-label">User List</label>
								<select name="userid" class="form-control">
									<option value="">Select User</option>
									<% for (var i=0;i< response.data.user.length;i++) {%>
									<option value="<%= response.data.user[i]._id%>">
										<%= response.data.user[i].document.firstName +" "+ response.data.user[i].document.lastName%>
									</option>
									<%
							}
							%>
								</select>
							</div>
						</div>

						<div class="form-group row" id="planlist" style="display:none;">
							<div class="col-lg-12">
								<label for="content" class="control-label">Plan List</label>
								<select name="planid" class="form-control">
									<option value="">Select Plan</option>
									<% for (var i=0;i< response.data.plan.length;i++) {%>
									<option value="<%= response.data.plan[i]._id%>"><%= response.data.plan[i].title%>
									</option>
									<%
							}
							%>
								</select>
							</div>
						</div>

					</div>


					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<button type="submit" class="btn btn-primary">Save</button>
									<a href="<%= generateUrl('promocode.list')%>">
										<button type="button" class="btn btn-secondary"><i class="ft-x"></i>
											Cancel</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>


			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('input[type=radio][name=radiotype]').change(function () {
			if (this.value == 'General') {
				$('#userlist').css("display", "none");
				$('#planlist').css("display", "none");
			} else if (this.value == 'User') {
				$('#userlist').css("display", "block");
				$('#planlist').css("display", "none");
			} else {
				// required data-validation-required-message="This field is required"
				$('#userlist').css("display", "none");
				$('#planlist').css("display", "block");
			}
		});
	});

	function validCheck(e) {
		var keyCode = (e.which) ? e.which : e.keyCode;
		if ((keyCode >= 48 && keyCode <= 57) || (keyCode == 8))
			return true;
		else if (keyCode == 46) {
			var curVal = document.activeElement.value;
			if (curVal != null && curVal.trim().indexOf('.') == -1)
				return true;
			else
				return false;
		} else
			return false;
	}

	//coupon generator
	$(document).ready(function () {
		var coupon = '';
		var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
		for (var i = 0; i < 6; i++) {
			coupon += possible.charAt(Math.floor(Math.random() * possible.length));
		}
		$("#title").val(coupon);
		return coupon;
	});

	//expiry date validation
	function checkDate() {
		var selectedDate = document.getElementById('kt_datepicker_1').value;
		var now = new Date();
		var currentDate = Date.parse(now);
		var selectDate = Date.parse(selectedDate);

		if (selectDate < currentDate) {
			document.getElementById("dateTimeAlert").innerHTML =
				'The Date you have selected is before the Current Date';
		} else {
			document.getElementById("dateTimeAlert").innerHTML = '';
		}
	}
</script>