<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon-list"></i>
						</span>
						<h3 class="kt-portlet__head-title">Company<small>View</small></h3>
					</div>
				</div>
				<form id="f1" action="<%= generateUrl('company.update')%>" enctype="multipart/form-data" method="post"
					class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<h4 style="text-align:center; font-weight: 500; color:black; margin-bottom: 20px;">Facebook</h4>
						<% if(response != '') {%>
						<table class="table table-striped- table-bordered table-hover table-checkable tb-font" id="html_table"
							width="100%">
							<thead>
								<tr>
									<th style="text-align:center">Account Details</th>
									<th style="text-align:center">Post Details</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i=0; i<response.length; i++) { %>
								<% if(response[i]._id.social_type == 'facebook'){ %>
								<tr>
									<td style="text-align:center">
										<span>Username:</span> <%= response[i]._id.username%>
									</td>
									<td style="text-align:center">
										<%
											var count = 1;
											for(let j=0; j<response[i].social_post_details.length; j++){%>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Title :</div>
											<div class="col-lg-10 text-left">
												<%= response[i].social_post_details[j].social_post_info.post_title%></div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Content :</div>
											<div class="col-lg-10 text-left">
												<% if(response[i].social_post_details[j].social_post_info.ctype == 'image'){ %>
												<div class="imgbtn">
													<img src="/img/image.png" style="width:45px;" />
													<a target="_blank"
														href="/uploads/social_post/facebook/image/<%= response[i].social_post_details[j].social_post_info.post_content%>"
														class="clickbtn">Click here</a>
												</div>
												<%} else if(response[i].social_post_details[j].social_post_info.ctype == 'video'){ %>
												<div class="imgbtn">
													<img src="/img/video.png" style="width:10%;" />
													<a target="_blank"
														href="/uploads/social_post/facebook/video/<%= response[i].social_post_details[j].social_post_info.post_content%>"
														class="clickbtn">Click here</a>
												</div>
												<%} else{ %>
												<%= response[i].social_post_details[j].social_post_info.post_content %>
												<%}%>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Schedule :</div>
											<div class="col-lg-10 text-left">
												<%= moment(response[i].social_post_details[j].social_post_info.post_schedule_time).format('lll')%>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Status :</div>
											<div class="col-lg-10 text-left">
												<%= response[i].social_post_details[j].social_post_info.post_status%></div>
										</div>
										<% if(count != response[i].social_post_details.length) { %>
										<div class="col-lg-12">
											<hr class="mt-2 mb-2">
										</div>
										<% } %>
										<% count ++ } %>
									</td>
								</tr>
								<% } %>
								<% } %>
							</tbody>
						</table>
						<% }else{ %>
						<p style="text-align:center; color:black;">There are no Facebook data</p>
						<% } %>
					</div>

					<div class="kt-portlet__body">
						<h4 style="text-align:center; font-weight: 500; color:black; margin-bottom: 20px;">Twitter</h4>
						<% if(response != '') {%>
						<table class="table table-striped- table-bordered table-hover table-checkable tb-font" id="html_table"
							width="100%">
							<thead>
								<tr>
									<th style="text-align:center">Account Details</th>
									<th style="text-align:center">Post Details</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i=0; i<response.length; i++) { %>
								<% if(response[i]._id.social_type == 'twitter'){ %>
								<tr>
									<td style="text-align:center">
										<span>Username:</span> <%= response[i]._id.username%>
									</td>
									<td style="text-align:center">
										<%
														var count = 1;
														for(let j=0; j<response[i].social_post_details.length; j++){%>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Title :</div>
											<div class="col-lg-10 text-left">
												<%= response[i].social_post_details[j].social_post_info.post_title%></div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Content :</div>
											<div class="col-lg-10 text-left">
												<% if(response[i].social_post_details[j].social_post_info.ctype == 'image'){ %>
												<div class="imgbtn">
													<img src="/img/image.png" style="width:45px;" />
													<a target="_blank"
														href="/uploads/social_post/twitter/image/<%= response[i].social_post_details[j].social_post_info.post_content%>"
														class="clickbtn">Click here</a>
												</div>
												<%} else if(response[i].social_post_details[j].social_post_info.ctype == 'video'){ %>
												<div class="imgbtn">
													<img src="/img/video.png" style="width:10%;" />
													<a target="_blank"
														href="/uploads/social_post/twitter/video/<%= response[i].social_post_details[j].social_post_info.post_content%>"
														class="clickbtn">Click here</a>
												</div>
												<%} else{ %>
												<%= response[i].social_post_details[j].social_post_info.post_content %>
												<%}%>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Schedule :</div>
											<div class="col-lg-10 text-left">
												<%= moment(response[i].social_post_details[j].social_post_info.post_schedule_time).format('lll')%>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Status :</div>
											<div class="col-lg-10 text-left">
												<%= response[i].social_post_details[j].social_post_info.post_status%></div>
										</div>
										<% if(count != response[i].social_post_details.length) { %>
										<div class="col-lg-12">
											<hr class="mt-2 mb-2">
										</div>
										<% } %>
										<% count ++ } %>
									</td>
								</tr>
								<% } %>
								<% } %>
							</tbody>
						</table>
						<% }else{ %>
						<p style="text-align:center; color:black;">There are no Twitter data</p>
						<% } %>
					</div>

					<div class="kt-portlet__body">
						<h4 style="text-align:center; font-weight: 500; color:black; margin-bottom: 20px;">Instagram</h4>
						<% if(response != '') {%>
						<table class="table table-striped- table-bordered table-hover table-checkable tb-font" id="html_table"
							width="100%">
							<thead>
								<tr>
									<th style="text-align:center">Account Details</th>
									<th style="text-align:center">Post Details</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i=0; i<response.length; i++) { %>
								<%if(response[i]._id.social_type == 'instagram'){%>
								<tr>
									<td style="text-align:center">
										<span>Username:</span> <%= response[i]._id.username%>
									</td>
									<td style="text-align:center">
										<%
											var count = 1;
											for(let j=0; j<response[i].social_post_details.length; j++){%>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Title :</div>
											<div class="col-lg-10 text-left">
												<%= response[i].social_post_details[j].social_post_info.post_title%></div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Content :</div>
											<div class="col-lg-10 text-left">
												<% if(response[i].social_post_details[j].social_post_info.ctype == 'image'){ %>
												<div class="imgbtn">
													<img src="/img/image.png" style="width:45px;" />
													<a target="_blank"
														href="/uploads/social_post/instagram/image/<%= response[i].social_post_details[j].social_post_info.post_content%>"
														class="clickbtn">Click here</a>
												</div>
												<%} else if(response[i].social_post_details[j].social_post_info.ctype == 'video'){ %>
												<div class="imgbtn">
													<img src="/img/video.png" style="width:10%;" />
													<a target="_blank"
														href="/uploads/social_post/instagram/video/<%= response[i].social_post_details[j].social_post_info.post_content%>"
														class="clickbtn">Click here</a> </div>
												<%} else{ %>
												<%= response[i].social_post_details[j].social_post_info.post_content %>
												<%}%>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Schedule :</div>
											<div class="col-lg-10 text-left">
												<%= moment(response[i].social_post_details[j].social_post_info.post_schedule_time).format('lll')%>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-2 text-left font-weight-bold">Status :</div>
											<div class="col-lg-10 text-left">
												<%= response[i].social_post_details[j].social_post_info.post_status%></div>
										</div>
										<% if(count != response[i].social_post_details.length) { %>
										<div class="col-lg-12">
											<hr class="mt-2 mb-2">
										</div>
										<% } %>
										<% count ++ } %>
									</td>
								</tr>
								<% } %>
								<% } %>
							</tbody>
						</table>
						<% }else{ %>
						<p style="text-align:center; color:black;">There are no Instagram data</p>
						<% } %>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>