<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon-list"></i>
				</span>
				<h3 class="kt-portlet__head-title">Company<small>List</small></h3>
			</div>
		</div>

		<div class="kt-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
				<thead>
					<tr>
						<th>Company Name</th>
						<th style="text-align:center">User Name</th>
						<th style="text-align:center">User Email</th>
						<th style="text-align:center"> User Phone</th>
						<th style="text-align:center">Status</th>
						<th style="text-align:center">Action</th>
					</tr>
				</thead>
				<tbody>
					<% if(response[0].company_details.length>0){ %>
					<% for(var i=0; i< response[0].company_details.length; i++) { %>
					<tr>
						<td><%= utils.ifBlankThenNA(response[0].company_details[i].company_title) %></td>
						<td style="text-align:center"><%= response[0].firstName %> <%= response[0].lastName %></td>
						<td style="text-align:center"><%= response[0].email %></td>
						<td style="text-align:center"><%= response[0].contactNumber %></td>
						<td style="text-align:center">
							<a href="javascript:void(0)" onclick="statusChangeFunction('company',this)"
								data-team="<%= response[0].company_details[i]._id %>">
								<div
									class="kt-badge kt-badge--inline kt-badge--pill <%= response[0].company_details[i].status == 'active' ? 'kt-badge--success' : 'kt-badge--danger'  %>">
									<%= (response[0].company_details[i].status == 'active')? 'Active': 'Inactive' %>
								</div>
							</a>
						</td>
						<td style="text-align:center">
							<a href="<%= generateUrl('company.edit',{id: response[0].company_details[i]._id}) %>"
								data-original-title="View" title="View">
								<i class="flaticon-eye"></i>
							</a>

						</td>
					</tr>
					<% } %>
					<% } else { %>
					<tr>
						<td colspan="5">
							<center>No Record Found</center>
						</td>
					</tr>
					<% } %>
				</tbody>

			</table>
			<!--end: Datatable -->
		</div>
		<script>
			"use strict";
			var KTDatatablesDataSourceHtml = function () {

				var initTable1 = function () {
					var table = $('#html_table');

					// begin first table
					table.DataTable({
						responsive: true,
						"columns": [
							null,
							null,
							null,
							{
								"orderable": false
							},
							{
								"orderable": false
							}
						]
					});
				};

				return {
					//main function to initiate the module
					init: function () {
						initTable1();
					},
				};
			}();

			jQuery(document).ready(function () {
				KTDatatablesDataSourceHtml.init();
			});
		</script>
	</div>
</div>