<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon-list"></i>
						</span>
						<h3 class="kt-portlet__head-title">Promo Code<small>Edit</small></h3>
					</div>
				</div>
				<form id="f1" action="<%= generateUrl('promocode.update')%>" enctype="multipart/form-data" method="post"
					class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">

						<div class="kt-radio-inline form-group">
							<label>Promo Code Type</label> <br />
							<label class="kt-radio">
								<input type="radio" name="radiotype" class="chradio" value="General" required
									data-validation-required-message="This field is required"
									<%=(response.data.promo_type == "General")?"checked":" "%>>General
								<span></span>
							</label>

							<!-- <label class="kt-radio">
								<input type="radio" name="radiotype" class="chradio" value="User" required
									data-validation-required-message="This field is required"
									<%=(response.data.promo_type == "User")?"checked":" "%>>User
								<span></span>
							</label> -->

							<label class="kt-radio">
								<input type="radio" name="radiotype" class="chradio" value="Subscription" required
									data-validation-required-message="This field is required"
									<%=(response.data.promo_type == "Subscription")?"checked":" "%>>Subscription
								<span></span>
							</label>
						</div>

						<div class="form-group row">
							<div class="col-lg-6">
								<label>Coupon</label>
								<input id="title" name="title" type="text" placeholder="Display Coupon" class="form-control" required
									data-validation-required-message="This field is required" value="<%= response.data.title %>"
									readonly />
							</div>
							<div class="col-lg-6">
								<label>Percentage (%)</label>
								<input id="price" name="price" min="0" type="number" placeholder="Enter Number" class="form-control"
									required data-validation-required-message="This field is required" value="<%= response.data.price %>"
									onkeypress="return validCheck(event);" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-lg-6">
								<label>Usage Count</label>
								<input id="promo_count" name="promo_count" min="0" type="number" placeholder="Enter Count"
									class="form-control" required data-validation-required-message="This field is required"
									value="<%= response.data.promo_count %>" />
							</div>
							<div class="col-lg-6">
								<label>Expiry Date</label>
								<input type="text" onchange="checkDate()" name="expiry_date" id="kt_datepicker_1"
									placeholder="Select date" class="form-control" required
									data-validation-required-message="This field is required"
									value="<%= moment(response.data.expiry_date).format('YYYY-MM-DD') %>" />
								<div id="dateTimeAlert"></div>
							</div>
						</div>

						<!-- <div class="form-group row" id="userlist" style="display:none;">
							<div class="col-lg-12">
								<label for="content" class="control-label">User List</label>
								<select name="userid" class="form-control">
									<option value="">Select User</option>
									<% for (var i=0;i< response.user.length;i++) {
										var selected = (utils.inArray(response.data.user_id,response.user[i]._id.toString()))?"selected":"";
										%>
									<option value="<%= response.user[i]._id%>" <%=selected%>>
										<%= response.user[i].document.firstName +" "+ response.user[i].document.lastName%></option>
									<%
									}
									%>
								</select>
							</div>
						</div> -->

						<div class="form-group row" id="planlist" style="display:none;">
							<div class="col-lg-12">
								<label for="content" class="control-label">Plan List</label>
								<select name="planid" class="form-control">
									<option value="">Select Plan</option>
									<% for (var i=0;i< response.plan.length;i++) {
										var selected = (utils.inArray(response.data.plan_id,response.plan[i]._id.toString()))?"selected":"";
										%>
									<option value="<%= response.plan[i]._id%>" <%=selected%>><%= response.plan[i].title%></option>
									<%
									}
									%>
								</select>
							</div>
						</div>

					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<input type="hidden" name="id" value="<%= response.data._id%>">
									<button type="submit" class="btn btn-primary">Update</button>
									<a href="<%= generateUrl('promocode.list')%>">
										<button type="button" class="btn btn-secondary">
											<i class="ft-x"></i> Cancel
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var radio_selected = $('input[name=radiotype]:checked', '#f1').val();
		//alert(radio_selected);
		if (radio_selected == "Subscription") {
			$('#userlist').css("display", "none");
			$('#planlist').css("display", "block");
		} else if (radio_selected == "User") {
			$('#userlist').css("display", "block");
			$('#planlist').css("display", "none");
		} else {
			$('#userlist').css("display", "none");
			$('#planlist').css("display", "none");
		}

		$('input[type=radio][name=radiotype]').change(function () {
			if (this.value == 'General') {
				$('#userlist').css("display", "none");
				$('#planlist').css("display", "none");
			} else if (this.value == 'User') {
				$('#userlist').css("display", "block");
				$('#planlist').css("display", "none");
			} else {
				// required data-validation-required-message="This field is required"
				$('#userlist').css("display", "none");
				$('#planlist').css("display", "block");
			}
		});
	});

	function validCheck(e) {
		var keyCode = (e.which) ? e.which : e.keyCode;
		if ((keyCode >= 48 && keyCode <= 57) || (keyCode == 8))
			return true;
		else if (keyCode == 46) {
			var curVal = document.activeElement.value;
			if (curVal != null && curVal.trim().indexOf('.') == -1)
				return true;
			else
				return false;
		} else
			return false;
	}

	//expiry date validation
	function checkDate() {
		var selectedDate = document.getElementById('kt_datepicker_1').value;
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1;
		var yyyy = today.getFullYear();
		if (dd < 10) {
			dd = '0' + dd;
		}
		if (mm < 10) {
			mm = '0' + mm;
		}
		today = yyyy + '-' + mm + '-' + dd;
		var currentDate = Date.parse(today);
		var selectDate = Date.parse(selectedDate);
		if (selectDate < currentDate) {
			document.getElementById("dateTimeAlert").innerHTML =
				'The Date you have selected is before the Current Date';
			document.getElementById('kt_datepicker_1').value = '';
		} else {
			document.getElementById("dateTimeAlert").innerHTML = '';
		}
	}
</script>