<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon-list"></i>
				</span>
				<h3 class="kt-portlet__head-title">Promo Code<small>List</small></h3>
			</div>
			<div class="right_select">
				<div>
					<label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
					<input type="hidden" id="name" value="/promocode/list/">
					<div class="kt-widget14_selectbox promoSelect">
						<div class="dateRangePicker">
							<input type="text" readonly name="daterange" class="form-control " id="daterange1"
								value="<%=(from)?from:'' %>" />
							<input type="text" readonly name="daterange" class="form-control " id="daterange2"
								value="<%=(to)?to:'' %>" />
						</div>
					</div>
				</div>
				<div class="kt-portlet__head-toolbar">
					<div class="kt-portlet__head-wrapper">
						<div class="kt-portlet__head-actions">
							<a href="<%= generateUrl('promocode.create') %>" class="btn btn-brand btn-elevate btn-icon-sm">
								<i class="la la-plus"></i>
								Add New
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
				<thead>
					<tr>
						<th>Coupon</th>
						<th>Type</th>
						<th>Plan</th>
						<th style="text-align:center">Discount %</th>
						<th style="text-align:center">Coupon Used Count</th>
						<th style="text-align:center">Revenue Generated $</th>
						<th style="text-align:center">Total Discount $</th>
						<th style="text-align:center">Expiry Date</th>
						<th style="text-align:center">Status</th>
						<th style="text-align:center">Action</th>
					</tr>
				</thead>
				<tbody>
					<% if(response.data.length>0){ %>
					<% for(var i=0; i< response.data.length; i++) { %>
					<tr>
						<td><%= utils.ifBlankThenNA(response.data[i].title) %></td>
						<td><%= response.data[i].promo_type %></td>
						<td><%= (response.data[i].plan != null)?response.data[i].plan.title:'NA'  %></td>
						<td style="text-align:center"><%= response.data[i].price %></td>
						<td style="text-align:center"><%= response.data[i].user_promo_info.length %></td>
						<td style="text-align:center">
							<%
							var totalRevenue = 0;
							var discountPercent = response.data[i].price;
							var discountAmount =0;
							for(var j =0; j<response.data[i].user_promo_info.length; j++){ 
							totalRevenue += parseFloat(response.data[i].user_promo_info[j].plan_price)
							discountAmount += (parseFloat(response.data[i].user_promo_info[j].plan_price)*discountPercent)/100;
							}
							%>
							<%= totalRevenue.toFixed(2) - discountAmount.toFixed(2) %>
						</td>
						<td style="text-align:center"><%= discountAmount.toFixed(2) %></td>
						<td style="text-align:center"><%=moment(response.data[i].expiry_date).format('LL') %></td>
						<td style="text-align:center">
							<a href="javascript:void(0)" onclick="statusChangeFunction('promocode' ,this)"
								data-team="<%= response.data[i]._id %>">
								<div
									class="kt-badge kt-badge--inline kt-badge--pill <%= response.data[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>">
									<%= response.data[i].status  %></div>
							</a>
						</td>
						<td style="text-align:center">
							<a href="<%= generateUrl('promocode.edit',{id: response.data[i]._id}) %>" data-original-title="Edit"
								title="Edit">
								<i class="flaticon-edit"></i>
							</a>
							<a href="<%= generateUrl('promocode.delete', {id: response.data[i]._id})%>" data-original-title="Delete"
								title="Delete" class="delete"><i class="flaticon-delete"></i>
							</a>
						</td>
					</tr>

					<% } %>
					<% }else{ %>
					<tr>
						<td colspan="5">
							<center>No Record Found</center>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<!--end: Datatable -->
		</div>
		<script>
			"use strict";
			var KTDatatablesDataSourceHtml = function () {

				var initTable1 = function () {
					var table = $('#html_table');

					// begin first table
					table.DataTable({
						responsive: true,
						"columns": [
							null,
							null,
							null,
							null,
							null,
							null,
							null,
							null,
							{
								"orderable": false
							},
							{
								"orderable": false
							}
						]
					});
				};

				return {
					//main function to initiate the module
					init: function () {
						initTable1();
					},
				};
			}();

			jQuery(document).ready(function () {
				KTDatatablesDataSourceHtml.init();
			});
		</script>
	</div>
</div>