<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">

        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon-list"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Plan
                            <small>Create</small>
                        </h3>
                    </div>
                </div>
                <form action="<%= generateUrl('plan.update')%>" enctype="multipart/form-data" method="post" class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Title</label>
                                <input id="title" name="title" type="text" placeholder="Enter Title" class="form-control" required data-validation-required-message="This field is required" value="<%= response.data.title %>" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label for="content" class="control-label">Content</label>
                                <textarea name="content" rows="6" class="ckeditor form-control" data-validation-required-message="This field is required"><%=  response.data.content %></textarea>
                            </div>
                        </div>
                        <% if(response.data.image!=''){ %>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <img src="/uploads/plan/thumb/<%= response.data.image %>" style="max-width:100%" />
                            </div>
                        </div>
                        <% } %>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="content" class="control-label">Image</label>
                                <div class="control">
                                    <input type="file" id="image" name="image" class="only_image" accept="image/*" />
                                    <div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="id" value="<%= response.data._id%>">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="<%= generateUrl('plan.list')%>"><button type="button" class="btn btn-secondary"><i class="ft-x"></i> Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>