<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon-list"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Plan
                    <small>List</small>
                </h3>
            </div>
            <div class="right_select">
                <label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
                <input type="hidden" id="name" value="/plan/list/">
                <div class="kt-widget14_selectbox promoSelect">
                  <div class="dateRangePicker">
                    <input type="text" readonly name="daterange" id="daterange1" class="form-control"
                      value="<%=(from)?from:'' %>" />
                    <input type="text" readonly name="daterange" id="daterange2" class="form-control"
                      value="<%=(to)?to:'' %>" />
                  </div>
                </div>
             
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <a href="<%= generateUrl('plan.create') %>" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            Add New
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">

            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
                <thead>
                    <tr>
                        <!-- <th>Featured Image</th> -->
                        <th>Title</th>
                        <th>Content</th>
                        <th style="text-align:center">Price</th>
                        <th style="text-align:center">Revenue Generated $</th>
                        <th style="text-align:center">Status</th>
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(response.newData.length>0){ %>
                    <% for(var i=0; i< response.newData.length; i++) { %>
                    <tr>
                        <!-- <td>
                            <% if(response.newData[i].featured_image!=''){ %>
                            <img src="/uploads/post/thumb/<%= response.newData[i].featured_image %>" />
                            <% }else{ %>&nbsp;<% } %>
                        </td> -->
                        <td><%= utils.ifBlankThenNA(response.newData[i].title) %></td>
                        <td><%=  utils.ifBlankThenNA(response.newData[i].content.replace(/<[^>]*>/g, '')) %></td>
                        <td style="text-align:center"><%=parseFloat(response.newData[i].price).toFixed(2) %></td>
                        <td style="text-align:center"><%=(response.newData[i].sum)?parseFloat(response.newData[i].sum).toFixed(2):'0' %></td>
                        <td style="text-align:center">
                            <% if(response.newData[i].status == 'Active'){ %>
                            <a href="javascript:void(0)" onclick="statusChangeFunction('plan' ,this)"
                                data-team="<%= response.newData[i]._id %>">
                                <div class="kt-badge kt-badge--inline kt-badge--pill <%= response.newData[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>"><%= response.newData[i].status %></div>
                            </a>
                            <% }else{ %>
                            <div class="kt-badge kt-badge--inline kt-badge--pill <%= response.newData[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>"><%= response.newData[i].status %></div>
                            <span>Inactivated on:<br><%= response.newData[i].inactiveDate %></span>
                            <% } %>
                        </td>
                        <td style="text-align:center">
                            <% if(response.newData[i].status == 'Active'){ %>
                            <a href="<%= generateUrl('plan.edit',{id: response.newData[i]._id}) %>"
                                data-original-title="Edit" title="Edit">
                                <i class="flaticon-edit"></i>
                            </a>
                            <!-- <a href="<%= generateUrl('plan.delete', {id: response.newData[i]._id})%>"
                                data-original-title="Delete" title="Delete" class="delete">
                                <i class="flaticon-delete"></i>
                            </a> -->
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                    <% }else{ %>
                    <tr>
                        <td colspan="6"><center>No Record Found</center></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <!--end: Datatable -->
        </div>
        <script>
            "use strict";
            var KTDatatablesDataSourceHtml = function () {

                var initTable1 = function () {
                    var table = $('#html_table');

                    // begin first table
                    table.DataTable({
                        responsive: true,
                        "columns": [{
                                "orderable": false
                            },
                            null,
                            null,
                            {
                                "orderable": false
                            },
                            {
                                "orderable": false
                            }
                        ]
                    });
                };

                return {
                    //main function to initiate the module
                    init: function () {
                        initTable1();
                    },
                };
            }();
            jQuery(document).ready(function () {
                KTDatatablesDataSourceHtml.init();
            });
        </script>
    </div>
</div>