<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">

        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon-list"></i>
                        </span>
                        <h3 class="kt-portlet__head-title"> Create FAQ</small>
                        </h3>
                    </div>
                </div>

                <form action="<%= generateUrl('faq.store')%>" enctype="multipart/form-data" method="post"
                    class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label for="first_name" class="control-label">Question</label>
                                <div class="controls">
                                    <input id="title" name="question" type="text" placeholder="Enter Question"
                                        class="form-control required" required
                                        data-validation-required-message="This field is required" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label for="content" class="control-label">Answer</label>
                                <div class="controls">
                                    <textarea name="answer" rows="6" cols="161"
                                        data-validation-required-message="This field is required"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="faq_id" value="<%= response.data._id%>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('faq.list')%>">
                                        <button type="button" class="btn btn-secondary"><i class="ft-x"></i>
                                            Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>