<div class="">
    <div class="">Hi <%= firstName %> <%= lastName %> ,</div>
    <div class="">
        <p>Welcome to our APP.</p>
    </div>
    <div class=""></span></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, Schdeduley Admin</div>
</div>


