<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-list-1"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Product
                            <small>edit</small>
                        </h3>
                    </div>
                </div>
		<%= JSON.stringify(response.data.banner_block) %>
		<form action="<%= generateUrl('product.update')%>" enctype="multipart/form-data" method="post" class="kt-form kt-form--label-right">
			<div class="kt-portlet__body">
				<h2 class="product_heading">Banner Block</h2>
				<hr>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Banner Title</label>
						<input id="title" name="title" type="text" placeholder="Enter Title" class="form-control required" required                                  data-validation-required-message="This field is required" value="<%= response.data.banner_block.title%>" />
					</div>
				</div>
				<% if(response.data.banner_block.image !=''){ %>
					<div class="form-group row">
						<div class="col-lg-12">
							<img src="/uploads/product/thumb/<%= response.data.banner_block.image %>" style="max-width:50%" />
						</div>
					</div>
				<% } %>
				<div class="form-group row">
					<div class="col-lg-12">
						<label for="content" class="control-label">Banner Image</label>
						<div class="control">
							<input type="file" id="image" name="banner_image" class="only_image" accept="image/*" />
							<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
					</div>
				</div>
				<hr>
				<h2 class="product_heading">Posts Queue Block</h2>
				<hr>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Post Title</label>
						<input id="title" name="post_title" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.middle_content_block.post_title%>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Post Content</label>
						<textarea name="post_content" rows="10" class="ckeditor form-control" data-validation-required-message="This field is required"><%=response.data.middle_content_block.post_content%></textarea>
					</div>
				</div>
				<% if(response.data.middle_content_block.post_left_image !=''){ %>
					<div class="form-group row">
						<div class="col-lg-12">
							<img src="/uploads/product/thumb/<%= response.data.middle_content_block.post_left_image %>" style="max-width:100%" />
						</div>
					</div>
				<% } %>
				<div class="form-group row">
					<div class="col-lg-12">
						<label for="content" class="control-label">Post Image</label>
						<div class="control">
							<input type="file" id="image" name="post_left_image" class="only_image" accept="image/*" />
							<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
					</div>
				</div>
				<hr>
				<h2 class="product_heading">Calendar Planner Block</h2>
				<hr>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Calendar Title</label>
						<input id="title" name="calendar_title" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.middle_content_block.calendar_title %>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Calendar Content</label>
						<textarea name="calendar_content" rows="10" class="ckeditor form-control" data-validation-required-message="This field is required"><%=response.data.middle_content_block.calendar_content%></textarea>
					</div>
				</div>
				<% if(response.data.middle_content_block.calendar_right_image !=''){ %>
					<div class="form-group row">
						<div class="col-lg-12">
							<img src="/uploads/product/thumb/<%= response.data.middle_content_block.calendar_right_image %>" style="max-width:100%" />
						</div>
					</div>
				<% } %>
				<div class="form-group row">
					<div class="col-lg-12">
						<label for="content" class="control-label">Calendar Image</label>
						<div class="control">
							<input type="file" id="image" name="calendar_right_image" class="only_image" accept="image/*" />
							<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
					</div>
				</div>
				<hr>
				<h2 class="product_heading">Phone Preview Block</h2>
				<hr>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Phone Title</label>
						<input id="title" name="phone_title" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.middle_content_block.phone_title%>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Phone Content</label>
						<textarea name="phone_content" rows="10" class="ckeditor form-control" data-validation-required-message="This field is required"><%=response.data.middle_content_block.phone_content%></textarea>
					</div>
				</div>
				<% if(response.data.middle_content_block.phone_left_image !=''){ %>
					<div class="form-group row">
						<div class="col-lg-12">
							<img src="/uploads/product/thumb/<%= response.data.middle_content_block.phone_left_image %>" style="max-width:100%" />
						</div>
					</div>
				<% } %>
				<div class="form-group row">
					<div class="col-lg-12">
						<label for="content" class="control-label">Phone Image</label>
						<div class="control">
							<input type="file" id="image" name="phone_left_image" class="only_image" accept="image/*" />
							<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
					</div>
				</div>
				<hr>
				<h2 class="product_heading">Draft Posts Block</h2>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Draft Title</label>
						<input id="title" name="draftpost_title" type="text" placeholder="Enter Title"	class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.middle_content_block.draftpost_title %>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Draft Content</label>
						<textarea name="draftpost_content" rows="10" class="ckeditor form-control"	data-validation-required-message="This field is required"><%=response.data.middle_content_block.draftpost_content %></textarea>
					</div>
				</div>
				<% if(response.data.middle_content_block.draftpost_right_image !=''){ %>
					<div class="form-group row">
						<div class="col-lg-12">
							<img src="/uploads/product/thumb/<%= response.data.middle_content_block.draftpost_right_image %>"	style="max-width:100%" />
						</div>
					</div>
				<% } %>
				<div class="form-group row">
					<div class="col-lg-12">
						<label for="content" class="control-label">Draft Image</label>
						<div class="control">
							<input type="file" id="image" name="draftpost_right_image" class="only_image" accept="image/*" />
							<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
					</div>
				</div>
				<hr>
				<h2 class="product_heading">Slider Block</h2>
				<hr>
				<div class="form-group row">
					<div class="col-lg-6">
						<label>Upload sources Title</label>
						<input id="title" name="left_title_1" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.slider_block.left_title_1%>" />
					</div>
					<div class="col-lg-6">
						<label>Upload sources Content</label>
						<input id="title" name="left_content_1" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required"	value="<%=response.data.slider_block.left_content_1%>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-6">
						<label>Image editor Title</label>
						<input id="title" name="left_title_2" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.slider_block.left_title_2 %>" />
					</div>
					<div class="col-lg-6">
						<label>Image editor Content</label>
						<input id="title" name="left_content_2" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.slider_block.left_content_2 %>" />
					</div>
				</div>
			
				<div class="form-group row">
				<div class="col-lg-6">
				<label>Post creator Title</label>
				<input id="title" name="left_title_3" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.slider_block.left_title_3 %>" />
				</div>
				<div class="col-lg-6">
				<label>Post creator Content</label>
				<input id="title" name="left_content_3" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.slider_block.left_content_3 %>" />
				</div>
				</div>
			
			
				<div class="form-group row">
				<div class="col-lg-6">
				<label>Automated posting Title</label>
				<input id="title" name="left_title_4" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.slider_block.left_title_4%>" />
				</div>
				<div class="col-lg-6">
				<label>Automated posting Content</label>
				<input id="title" name="left_content_4" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.slider_block.left_content_4%>" />
				</div>
				</div>
			
			
				<div id="urlDiv" class="form-group">
					<% for (var i=0; i<response.data.slider_block.slider_files.length;i++) { %>
						<div class="row" id="urlDivLess_<%=i%>">
							<% if(response.data.slider_block.slider_files !=''){ %>
								<div class="form-group col-md-4">
									<img src="/uploads/product/thumb/<%= response.data.slider_block.slider_files[i] %>" style="max-width:100%" />
								</div>
							<% } %>
							<div class="form-group col-md-5 mb-2">
								<label for="content" class="control-label">Slider Image </label>
								<div class="controls">
									<input type="file" id="image" name="slider_files" class="only_image" accept="image/*" />
									<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
								</div>
							</div>
							<% if (i == 0) { %>
								<div class="form-group col-md-3 mb-2">
									<label for="content" class="control-label">Action</label>
									<div class="controls">
										<button class="btn-success addUrl" id="addMoreUrl">Add More</button>
									</div>
								</div>
							<% } else { %>
								<div class="form-group col-md-3 mb-2">
									<label for="content" class="control-label">Action</label>
									<div class="controls">
										<button class="btn-success LessUrl" id="LessUrl_<%=i%>">Less</button>
									</div>
								</div>
							<% } %>
						</div>
					<% } %>
				</div>
				<hr>
				<h2 class="product_heading">Power Tools Block</h2>
				<hr>
				<div class="form-group row">
					<div class="col-lg-6">
					<label>Power Tools Title</label>
					<input id="title" name="tool_heading" type="text" placeholder="Enter Title"
					class="form-control required" required
					data-validation-required-message="This field is required"
					value="<%=response.data.power_tool_block.tool_heading %>" />
					</div>
					<div class="col-lg-6">
					<label>Power Tools Content</label>
					<input id="title" name="tool_content" type="text" placeholder="Enter Title"
					class="form-control required" required
					data-validation-required-message="This field is required"
					value="<%=response.data.power_tool_block.tool_content%>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
					<label>Multiple Account Heading</label>
					<input id="title" name="sub_title_1" type="text" placeholder="Enter Title"
					class="form-control required" required
					data-validation-required-message="This field is required"
					value="<%=response.data.power_tool_block.sub_title_1%>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
					<label>Multiple Account Content</label>
					<input id="title" name="sub_content_1" type="text" placeholder="Enter Title"
					class="form-control required" required
					data-validation-required-message="This field is required"
					value="<%=response.data.power_tool_block.sub_content_1%>" />
					</div>
				</div>
				<% if(response.data.power_tool_block.sub_file_1 !=''){ %>
					<div class="form-group row">
						<div class="col-lg-12">
							<img src="/uploads/product/thumb/<%= response.data.power_tool_block.sub_file_1 %>" style="max-width:100%" />
						</div>
					</div>
				<% } %>
				<div class="form-group row">
					<div class="col-lg-12">
						<label for="content" class="control-label">Multiple Account Image</label>
						<div class="control">
							<input type="file" id="image" name="sub_file_1" class="only_image" accept="image/*" />
							<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
						</div>
					</div>
				</div>
			
				<div class="form-group row">
				<div class="col-lg-12">
				<label>Bulk Upload Heading</label>
				<input id="title" name="sub_title_2" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.power_tool_block.sub_title_2%>" />
				</div>
				</div>
				<div class="form-group row">
				<div class="col-lg-12">
				<label>Bulk Upload Content</label>
				<input id="title" name="sub_content_2" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.power_tool_block.sub_content_2%>" />
				</div>
				</div>
				<% if(response.data.power_tool_block.sub_file_2 !=''){ %>
				<div class="form-group row">
				<div class="col-lg-12">
				<img src="/uploads/product/thumb/<%= response.data.power_tool_block.sub_file_2 %>"
				style="max-width:100%" />
				</div>
				</div>
				<% } %>
				<div class="form-group row">
				<div class="col-lg-12">
				<label for="content" class="control-label">Bulk Upload Image</label>
				<div class="control">
				<input type="file" id="image" name="sub_file_2" class="only_image"
				accept="image/*" />
				<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
				</div>
				</div>
				</div>
			
				<div class="form-group row">
				<div class="col-lg-12">
				<label>Teams Heading</label>
				<input id="title" name="sub_title_3" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.power_tool_block.sub_title_3%>" />
				</div>
				</div>
				<div class="form-group row">
				<div class="col-lg-12">
				<label>Teams Content</label>
				<input id="title" name="sub_content_3" type="text" placeholder="Enter Title"
				class="form-control required" required
				data-validation-required-message="This field is required"
				value="<%=response.data.power_tool_block.sub_content_3%>" />
				</div>
				</div>
				<% if(response.data.power_tool_block.sub_file_3 !=''){ %>
				<div class="form-group row">
				<div class="col-lg-12">
				<img src="/uploads/product/thumb/<%= response.data.power_tool_block.sub_file_3 %>"
				style="max-width:100%" />
				</div>
				</div>
				<% } %>
				<div class="form-group row">
				<div class="col-lg-12">
				<label for="content" class="control-label">Teams Image</label>
				<div class="control">
				<input type="file" id="image" name="sub_file_3" class="only_image"
				accept="image/*" />
				<div id="upload_error" class="imgErr" style="display:none">Invalid image type</div>
				</div>
				</div>
				</div>
				<hr>
				<h2 class="product_heading">Try Block</h2>	
				<hr>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Try Block Heading</label>
						<input id="title" name="try_title" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.try_block.try_title%>" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Try Block Content</label>
						<textarea name="try_content" rows="6" class="ckeditor form-control" data-validation-required-message="This field is required"><%=response.data.try_block.try_content%></textarea>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<label>Try Button Text</label>
						<input id="title" name="try_button_text" type="text" placeholder="Enter Title" class="form-control required" required
data-validation-required-message="This field is required" value="<%=response.data.try_block.try_button_text%>" />
					</div>
				</div>
			
			</div>
		
			<div class="kt-portlet__foot">
				<div class="kt-form__actions">
					<div class="row">
						<div class="col-lg-6">
							<input type="hidden" name="pro_id" value="<%= response.data._id%>">
							<button type="submit" class="btn btn-primary">Update</button>
							<a href="<%= generateUrl('product.list')%>">
								<button type="button" class="btn btn-secondary"><i class="ft-x"></i> Cancel</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		
		</form>
            </div>
        </div>
    </div>
</div>