<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		<div class="row">
			<div class="col-md-12 col-xl-122">
				<div class="kt-portlet kt-portlet--height-fluid h-auto">
					<div class="kt-widget14 kt-widget14_chat_new">
						<div class="kt-portlet__head">
							<div class="kt-widget14__header">
								<h3 class="kt-widget14__title">
									Plan and Subscription
								</h3>
								<span class="kt-widget14__desc">
									Subscription Report
								</span>
							</div>
							<input type="hidden" id="name" value="/userreport/subscription/">
							<div class="right_select">
								<label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
								<div class="kt-widget14_selectbox">
									<div class="dateRangePicker">
										<input type="text" name="daterange" readonly id="daterange1" class="form-control"
											value="<%=(from)?from:'' %>" />
										<input type="text" name="daterange" readonly id="daterange2" class="form-control"
											value="<%=(to)?to:'' %>" />
									</div>
								</div>
							</div>
						</div>
						<div class="kt-portlet__body kt-portlet__body--fluid">
							<div class="kt-widget14__content">
								<div class="kt-widget14__chart">
									<div id="total_plan_count" class="kt-widget14__stat"></div>
									<canvas id="kt_chart_subscribe_plan1" style="height: 220px; width: 220px;"></canvas>
								</div>
								<div id="plan_details" class="kt-widget14__legends label_kt-widget14__legends"></div>
							</div>
							<div class="kt-widget12">
								<div class="kt-widget12__chart">
									<canvas id="kt_chart_plan_revenue" style="height: 220px; width: 220px;"></canvas>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xl-12">
				<div class="kt-portlet kt-portlet--height-fluid h-auto">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget14__content" style="width: 1400px;">
							<table class="table table-striped- table-bordered table-hover table-checkable" id="html_table"
								width="100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Email</th>
										<th>Status</th>
										<th>Old Plan</th>
										<th>Current Plan</th>
									</tr>
								</thead>
								<tbody class="upgradeDegradeUserCount">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <script>
		"use strict";
		var KTDatatablesDataSourceHtml = function () {

			var initTable1 = function () {
				var table = $('#html_table');

				// begin first table
				table.DataTable({
					responsive: true,
					"columns": [
						null,
						null,
						null,
						{
							"orderable": false
						},
						{
							"orderable": false
						}
					]
				});
			};

			return {
				//main function to initiate the module
				init: function () {
					initTable1();
				},
			};
		}();

		jQuery(document).ready(function () {
			KTDatatablesDataSourceHtml.init();
		});
	</script> -->