<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

  <!-- promo code percentage based on user sign up -->
  <div class="col-md-12 col-xl-122">
    <div class="kt-portlet kt-portlet--height-fluid h-auto">
      <div class="kt-widget14 kt-widget14_chat_new">
        <div class="kt-portlet__head">
          <div class="kt-widget14__header">
            <h3 class="kt-widget14__title">
              Promo Usage Status
            </h3>
            <span class="kt-widget14__desc">
              Promo Code used during sign up
            </span>
          </div>
          <div class="right_select">
            <label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
            <input type="hidden" id="name" value="/userreport/promo/">
            <div class="kt-widget14_selectbox">
              <div class="dateRangePicker">
                <input type="text" readonly name="daterange" id="daterange1" class="form-control"
                  value="<%=(from)?from:'' %>" />
                <input type="text" readonly name="daterange" id="daterange2" class="form-control"
                  value="<%=(to)?to:'' %>" />
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fluid">
          <div class="kt-widget14__content">
            <div class="kt-widget14__chart">
              <!-- <div class="kt-widget14__stat">45</div> -->
              <canvas id="kt_chart_promo_usage" style="height: 240px; width: 240px;"></canvas>
            </div>
            <div class="kt-widget14__legends" id="promoData">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

</div>