<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">


  <!-- trial user percentage based -->
  <div class="col-md-12 col-xl-122">
    <div class="kt-portlet kt-portlet--height-fluid h-auto">
      <div class="kt-widget14 kt-widget14_chat_new">
        <div class="kt-portlet__head">
          <div class="kt-widget14__header">
            <h3 class="kt-widget14__title">
              Paid And Trial User Report
            </h3>
          </div>
          <div class="right_select">
            <label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
            <input type="hidden" id="name" value="/userreport/trial/">
            <div class="kt-widget14_selectbox">
              <div class="dateRangePicker">
                <input type="text" readonly name="daterange" id="daterange1" class="form-control"
                  value="<%=(from)?from:'' %>" />
                <input type="text" readonly name="daterange" id="daterange2" class="form-control"
                  value="<%=(to)?to:'' %>" />
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body kt-portlet__body--fluid">
          <div class="kt-widget14__content">
            <div class="kt-widget14__chart">
              <canvas id="kt_chart_trial_user" style="height: 240px; width: 240px;"></canvas>
            </div>
            <div class="kt-widget14__legends">

              <div class="kt-widget14__legend">
                <span class="kt-widget14__stats chart_title" id="totalUsers">Total User: </span>
              </div>
              <div class="kt-widget14__legend">
                <span class="kt-widget14__stats chart_title" id="paid">Paid User: </span>
              </div>
              <div class="kt-widget14__legend">
                <span class="kt-widget14__stats chart_title" id="initialTrail">Users who signed up from Trial: </span>
              </div>
              <div class="kt-widget14__legend">
                <span class="kt-widget14__stats chart_title" id="stillTrail">Users who still haven't signed up from
                  Trial: </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- paid user percentage based -->
  <!--     <div class="col-md-6 col-xl-122">
      <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
          <div class="kt-widget14__header">
            <h3 class="kt-widget14__title">
              Paid User Report
            </h3>
          </div>
          <div class="kt-widget14__content">
            <div class="kt-widget14__chart">
              <canvas id="kt_chart_paid_user" style="height: 250px; width: 250px;"></canvas>
            </div>
            <div class="kt-widget14__legends">
              <div class="kt-widget14__legend">
                <span class="kt-widget14__stats chart_title">Paid User:
      
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- end -->
</div>