<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

	<!-- New users report -->
	<div class="col-md-12 col-xl-122">
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						User Report
					</h3>
				</div>
				<div class="right_select">
					<label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
					<input type="hidden" id="name" value="/userreport/list/">
					<div class="kt-widget14_selectbox">
					  <div class="dateRangePicker">
						<input type="text" readonly name="daterange" id="daterange1" class="form-control"
						  value="<%=(from)?from:'' %>" />
						<input type="text" readonly name="daterange" id="daterange2" class="form-control"
						  value="<%=(to)?to:'' %>" />
					  </div>
					</div>
				  </div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fluid">
				<div class="kt-widget12">
					<div class="kt-widget12__chart">
						<canvas id="kt_chart_new_user_report" style="height: 440px; width: 440px;"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End New users report -->
</div>