<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<!--END TITLE & BREADCRUMB PAGE-->
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-user"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							User
							<small>Create</small>
						</h3>
					</div>
				</div>
				<form action="<%= generateUrl('user.store')%>" enctype="multipart/form-data" method="post" class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">

						
						<div class="form-group row">
							<div class="col-lg-6">
								<label>First Name</label>
								<input id="firstName" name="firstName" type="text" placeholder="Enter First Name" class="form-control" required
								 data-validation-required-message="This field is required" value="" />
								<span class="form-text text-muted">Please enter first name</span>
							</div>
							<div class="col-lg-6">
								<label>Last Name</label>
								<input id="lastName" name="lastName" type="text" placeholder="Enter Last Name" class="form-control" required
								 data-validation-required-message="This field is required" value="" />
								<span class="form-text text-muted">Please enter last name</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Email</label>
								<input id="email" name="email" type="text" placeholder="Enter Email" class="form-control" required
								 data-validation-required-message="This field is required" value="" data-validation-regex-regex="([A-Za-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"
								 data-validation-regex-message="Enter Valid Email" aria-invalid="true" />
								<span class="form-text text-muted">Please enter email address</span>
							</div>
							<div class="col-lg-6">
								<label>Contact Number</label>
								<input id="contactNumber" name="contactNumber" type="text" placeholder="Enter Phone Number" class="form-control"
								 required data-validation-required-message="This field is required" pattern="^[ ()+]*([0-9][ ()+]*){10}$"
								 data-validation-pattern-message="Enter 10 digit contact number" aria-invalid="true" />
								<span class="form-text text-muted">Please enter contact number</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Password</label>
								<input type="password" placeholder="Enter Password" class="form-control  required" required
								 data-validation-required-message="This field is required" name="password">
							</div>
							<div class="col-lg-6">
								<label>User Type</label>
								<select class="form-control" id="role" name="role" required data-validation-required-message="This field is required">
									<option value="">Select</option>
									<% for(i=0;i<response.data.length;i++){ %>
									<option value="<%= response.data[i]._id %>">
										<%= response.data[i].roleDisplayName %>
									</option>
									<% } %>
								</select>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<button type="submit" class="btn btn-primary">Save</button>
									<a href="<%= generateUrl('user.list')%>"><button type="button" class="btn btn-secondary">
											<i class="ft-x"></i> Cancel
										</button></a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>