
 <% layout(layout_directory+'/mainLayout') -%>
 <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
    <% if(user) { %>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Change Password
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form action="<%= generateUrl('user.updatepassword')%>" method="post" class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Old Password</label>
                                <input id="old_password" name="old_password" type="password" placeholder="Enter Old Password"  class="form-control" value="" required data-validation-required-message="This field is required"/>
                                <span class="form-text text-muted">Please enter your old password</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Password</label>
                                <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control required" value="" required data-validation-required-message="This field is required" />
                                <span class="form-text text-muted">Please enter your new password</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Confirm Password</label>
                                <input id="password_confirm" name="password_confirm" type="password" placeholder="Enter Confirm Password" class="form-control" data-validation-match-match="password" data-validation-match-message="Password doesn't match" value="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input id="_id" type="hidden" name="id" value="<%= user.id %>" />
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                    <a href="<%= generateUrl('user.dashboard')%>">
                                        <button type="button" class="btn btn-secondary">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <% } %>
    </div>
</div>