<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <% if (user.role[0].role == 'admin') { %>

    <!--Begin::Dashboard 6-->

    <!--begin:: Widgets/Stats-->
    <input type="hidden" id="name" value="/dashboard/">
    <div class="row filter-select-row">
        <div class="right_select filter-select">
            <label class="filter_txt"><i class="fas fa-filter"></i> Filter by: </label>
            <div class="kt-widget14_selectbox">
                <div class="dateRangePicker">
                    <input type="text" name="daterange" readonly id="daterange1" class="form-control"
                        value="<%=(from)?from:'' %>" />
                    <input type="text" name="daterange" readonly id="daterange2" class="form-control"
                        value="<%=(to)?to:'' %>" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!---Total Signup--->
        <div class="col-md-4 col-xl-122 blue_theme_box">
            <div class="kt-portlet kt-portlet--height-fluid total_signup_box">
                <div class="kt-widget14 white_txt_box">
                    <div class="kt-widget14_lft_icon">
                        <i class="fa fa-user-alt white font-large-2"></i>
                    </div>
                    <div class="kt-widget14_rt_box">
                        <div class="kt-widget14__header">
                            <h3 class="kt-widget14__title">
                                Total Signup
                            </h3>
                            <span class="kt-widget14__desc">
                                Signup User Count
                            </span>
                        </div>
                        <div class="kt-widget14__content">
                            <div class="kt-widget14__chart" style="margin:0 auto;">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chart-info mb-2">
                                    <span class="kt-widget24__stats kt-font-danger">
                                        <%= response.data.totalSignupUser.length %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!---Active User--->
        <div class="col-md-4 col-xl-122">
            <div class="kt-portlet kt-portlet--height-fluid active_user_box">
                <div class="kt-widget14 white_txt_box">
                    <div class="kt-widget14_lft_icon">
                        <i class="fa fa-user-alt white font-large-2"></i>
                    </div>
                    <div class="kt-widget14_rt_box">
                        <div class="kt-widget14__header">
                            <h3 class="kt-widget14__title">
                                Active User
                            </h3>
                            <span class="kt-widget14__desc">
                                Active User Count
                            </span>
                        </div>
                        <div class="kt-widget14__content">
                            <div class="kt-widget14__chart" style="margin:0 auto;">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chart-info mb-2">
                                    <span class="kt-widget24__stats kt-font-danger">
                                        <%= response.data.activeUserCount %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---Sales Today--->
        <div class="col-md-4 col-xl-122">
            <div class="kt-portlet kt-portlet--height-fluid sales_today_box">
                <div class="kt-widget14 white_txt_box">
                    <div class="kt-widget14_lft_icon">
                        <i class="fas fa-coins white font-large-2"></i>
                    </div>
                    <div class="kt-widget14_rt_box">
                        <div class="kt-widget14__header">
                            <h3 class="kt-widget14__title">
                                Sales Today
                            </h3>
                            <span class="kt-widget14__desc">
                                Amount
                            </span>
                        </div>
                        <div class="kt-widget14__content">
                            <div class="kt-widget14__chart" style="margin:0 auto;">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chart-info mb-2">
                                    <span class="kt-widget24__stats kt-font-danger">
                                        $<%= response.data.salesToday %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Plans and User Count-->
        <div class="col-md-4 col-xl-122">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Plan and Subscription
                        </h3>
                        <span class="kt-widget14__desc">
                            Plan and User Count
                        </span>
                    </div>
                    <div class="kt-widget14__content">
                        <div class="kt-widget14__chart">
                            <div id="total_plan_count" class="kt-widget14__stat"></div>
                            <canvas id="kt_chart_subscribe_plan" style="height: 140px; width: 140px;"></canvas>
                        </div>
                        <div id="plan_details" class="kt-widget14__legends"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Monthly Revenue-->
        <div class="col-md-4 col-xl-122">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Monthly Revenue
                        </h3>
                        <span class="kt-widget14__desc">
                            Monthly Total Income Based on Subscription
                        </span>
                    </div>
                    <div class="kt-widget14__chart" style="height:120px;">
                        <canvas id="kt_chart_monthly_revenue"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-122">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header">
                        <h3 class="kt-widget14__title">
                            Daily Visit
                        </h3>
                        <span class="kt-widget14__desc">
                            Visit Count Based on Location
                        </span>
                    </div>

                    <div class="kt-widget14__content">
                        <div class="kt-widget14__chart">
                            <div class="kt-widget14__stat" id='total'></div>
                            <canvas id="kt_chart_daily_visit_location" style="height: 140px; width: 140px;"></canvas>
                        </div>
                        <div class="dashboard-graph">
                            <div class="kt-widget14__legends" id="ddd">
                            </div>
                            <div class="cvrate">
                                <span>Conversion Rate:</span>
                                <div id="conversionRate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div
                    class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Company Listing
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit">
                    <!--begin: Datatable -->
                    <div class="kt-datatable" id="kt_datatable_latest_orders"></div>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
    <!--End::Section-->
    <% } %>
    <!--End::Dashboard 6-->
</div>