<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<!--END TITLE & BREADCRUMB PAGE-->
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-user"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							User
							<small>Edit</small>
						</h3>
					</div>
				</div>
				<form class="kt-form kt-form--label-right" enctype="multipart/form-data" action="<%= generateUrl('front.user.update')%>"
				 method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>First Name:</label>
								<input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter first name" value="<%= response.data.firstName %>"
								 required />
								<span class="form-text text-muted">Please enter first name</span>
							</div>
							<div class="col-lg-6">
								<label>Last Name:</label>
								<input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name" value="<%= response.data.lastName %>"
								 required />
								<span class="form-text text-muted">Please enter last name</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Contact Number:</label>
								<input type="text" id="contactNumber" name="contactNumber" class="form-control" placeholder="Enter contact number"
								 value="<%= response.data.contactNumber %>" required />
								<span class="form-text text-muted">Please enter your contact number</span>
							</div>
							<div class="col-lg-6">
								<label>Email:</label>
								<input type="email" id="email" name="email" class="form-control" placeholder="Enter email address" value="<%= response.data.email %>"
								 />
								<span class="form-text text-muted">Please enter your email</span>
							</div>
						</div>

					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<input id="_id" type="hidden" name="user_id" value="<%= response.data._id %>" />
									<button type="submit" class="btn btn-primary">Update</button>
									<a href="<%= generateUrl(response.routeNmPrefx+'user.list')%>">
										<button type="button" class="btn btn-secondary">Cancel</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>