<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    User
                    <small>List</small>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <% if((response.routeLnkPrefx=='' && response.routeNmPrefx=='') || (response.routeLnkPrefx=='company-' && response.routeNmPrefx=='company.')){ %>
                    <div class="kt-portlet__head-actions">
                        <a href="<%= generateUrl(response.routeNmPrefx+'user.create') %>" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            Add
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        
        <div class="kt-portlet__body">

            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(response.data.length>0){ %>
                        <% for(var i=0; i< response.data.length; i++) { %>
                    <tr>
                        <td><%= response.data[i].firstName %> <%= response.data[i].lastName %></td>
                        <td><%= response.data[i].email %></td>
                        <td><%= response.data[i].contactNumber %></td>
                        <td><%= response.data[i].user_role.roleDisplayName %></td>
                        <td>
                        <% if(response.routeLnkPrefx=='frontend-' && response.routeNmPrefx=='frontend.'){ %>
                            <a href="javascript:void(0)" onclick="statusChangeFunction('frontend-user' ,this)" data-team="<%= response.data[i]._id %>" class="btn-sm white btn-round">
                                <div class="kt-badge   kt-badge--inline kt-badge--pill <%= response.data[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>"><%= response.data[i].status  %></div>
                            </a>
                        <% } else if(response.routeLnkPrefx=='company-' && response.routeNmPrefx=='company.'){ %>
                            <a href="javascript:void(0)" onclick="statusChangeFunction('company-user' ,this)" data-team="<%= response.data[i]._id %>" class="btn-sm white btn-round">
                                <div class="kt-badge   kt-badge--inline kt-badge--pill <%= response.data[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>"><%= response.data[i].status  %></div>
                            </a>
                        <% }else{ %>
                            <a href="javascript:void(0)" onclick="statusChangeFunction('user' ,this)" data-team="<%= response.data[i]._id %>">
                                <div class="kt-badge   kt-badge--inline kt-badge--pill <%= response.data[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>"><%= response.data[i].status  %></div>
                            </a>                                        
                        <% } %>
                        </td>
                        <td style="text-align:center">
                            <a href="<%= generateUrl('front.user.resetPassword',{id: response.data[i]._id}) %>" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-original-title="Edit" title="Reset Password"><i class="la la-key"></i></a>
                                <a href="<%= generateUrl('front.user.edit',{id: response.data[i]._id}) %>" class="success p-0" data-original-title="Update" title="Update"><i class="flaticon-edit"></i></a>
                            
                                
                        </td>
                    </tr>
                        <% } %>
                    <% }else{ %>
                    <tr>
                        <td colspan="6"><center>No Record Found</center></td>
                    </tr>
                    <% } %>
                    </tbody>
            </table>

            <!--end: Datatable -->
        </div>
            <script>
"use strict";
var KTDatatablesDataSourceHtml = function() {

	var initTable1 = function() {
		var table = $('#html_table');

		// begin first table
		table.DataTable({
            responsive: true,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
		});
	};

	return {
		//main function to initiate the module
		init: function() {
			initTable1();
		},
	};
}();

jQuery(document).ready(function() {
	KTDatatablesDataSourceHtml.init();
});
            </script>
        </div>
    </div>
