<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon2-user"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					User
					<small>List</small>
				</h3>
			</div>

		</div>
		<div class="kt-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
				<thead>
					<tr>
						<th style="text-align: center">Image</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Subscription Plan</th>
						<th>Company Count</th>
						<th style="text-align: center">Status</th>
						<th style="text-align:center">Action</th>
					</tr>
				</thead>
				<tbody>
					<% if(response.data.length>0){ %>
					<% for(var i=0; i< response.data.length; i++) { %>
					<tr>
						<td style="width: 10%; text-align: center">
							<%if(response.data[i].profile_image != ''){%>
							<img src="/uploads/user/thumb/<%= response.data[i].profile_image %>" style="width: 50%;">
							<%} else { %>
							<img src="/img/default_user.png" style="width: 50%;">
							<%}%>
						</td>
						<td><%= response.data[i].firstName %> <%= response.data[i].lastName %></td>
						<td><%= response.data[i].email %></td>
						<td><%= response.data[i].contactNumber %></td>
						<td>
							<%
								var planName = response.data[i].plan.map(function (pname) {
									return pname.title
								});
								%>
							<%=planName%>
						</td>
						<td style="text-align:center;">
							<a href="<%= generateUrl('user.company',{id: response.data[i]._id})%>" class="success p-0"
								data-original-title="View" title="View"><%= response.data[i].company.length %></a>
						</td>
						<td style="width: 10%; text-align: center;">
							<a href="javascript:void(0)" onclick="statusChangeFunction('user' ,this)"
								data-team="<%= response.data[i]._id %>" class="btn-sm white btn-round">
								<div
									class="kt-badge   kt-badge--inline kt-badge--pill <%= response.data[i].status == 'Active' ? 'kt-badge--success' : 'kt-badge--danger'  %>">
									<%= response.data[i].status  %></div>
							</a>
						</td>
						<td style="text-align:center; width: 10%">
							<a href="<%= generateUrl('user.company',{id: response.data[i]._id}) %>" class="success p-0"
								data-original-title="View" title="View"><i class="flaticon-eye"></i></a>
							&nbsp;
							<a href="<%= generateUrl('user.edit',{id: response.data[i]._id}) %>" class="success p-0"
								data-original-title="Update" title="Update"><i class="flaticon-edit"></i></a>
							&nbsp;
							<a href="<%= generateUrl('user.delete',{id: response.data[i]._id}) %>" class="delete"
								data-original-title="Delete" title="Delete"><i class="flaticon-delete"></i></a>
						</td>
					</tr>
					<% } %>
					<% }else{ %>
					<tr>
						<td colspan="6">
							<center>No Record Found</center>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>

			<!--end: Datatable -->
		</div>
		<script>
			"use strict";
			var KTDatatablesDataSourceHtml = function () {

				var initTable1 = function () {
					var table = $('#html_table');

					// begin first table
					table.DataTable({
						responsive: true,
						"columns": [{
								"orderable": false
							},
							null,
							null,
							null,
							null,
							{
								"orderable": false
							},
							{
								"orderable": false
							}
						]
					});
				};

				return {
					//main function to initiate the module
					init: function () {
						initTable1();
					},
				};
			}();

			jQuery(document).ready(function () {
				KTDatatablesDataSourceHtml.init();
			});
		</script>
	</div>
</div>