<% layout(layout_directory+'/loginLayout') -%>

<div class="kt-login__container">
    <div class="kt-login__logo">

        <% if(typeof setting == 'object'){ %>
       <!-- <img src="/img/logos/logo.png" />-->
        <% }else{ %>
      <!--  <img src="/img/logos/logo.png" />-->
        <% } %>

    </div>
    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Sign In To Admin</h3>
        </div>
        <form class="kt-form" id="adminLoginForm" action="<%= generateUrl('user.login.process')%>" method="POST">
            <% if (!(_.isEmpty(messages))) { %>
            <% if(_.keys(messages) == 'error') { %>
            <div class="kt-alert kt-alert--outline alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span>Incorrect username or password. Please try again.</span>
            </div>
            <% 
                    }
                } 
                %>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Email" id="email" name="email" autocomplete="off"
                    style="color: #fff;">
            </div>
            <div class="input-group">
                <input class="form-control" type="password" placeholder="Password" id="password" name="password"
                    style="color: #fff;">
            </div>
            <div class="row kt-login__extra">
                <!--<div class="col">
                        <label class="kt-checkbox">
                            <input type="checkbox" name="remember"> Remember me
                            <span></span>
                        </label>
                    </div>
                    <div class="col kt-align-right">
                        <a href="javascript:;" id="kt_login_forgot" class="kt-link kt-login__link">Forget Password ?</a>
                    </div>-->
            </div>
            <div class="kt-login__actions">
                <button type="submit" id="kt_login_signin_submit" class="btn btn-pill kt-login__btn-primary">Sign
                    In</button>
            </div>
        </form>
    </div>

    <div class="kt-login__forgot">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Forgotten Password ?</h3>
            <div class="kt-login__desc">Enter your email to reset your password:</div>
        </div>
        <form class="kt-form" action="">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email"
                    autocomplete="off">
            </div>
            <div class="kt-login__actions">
                <button id="kt_login_forgot_submit"
                    class="btn btn-pill kt-login__btn-primary">Request</button>&nbsp;&nbsp;
                <button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary">Cancel</button>
            </div>
        </form>
    </div>

</div>