<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <% if(user) { %>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            My Profile
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form kt-form--label-right" action="<%= generateUrl('user.profileupdate')%>" method="POST" enctype="multipart/form-data">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>First Name:</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter first name"
                                    value="<%= response.data.firstName %>" required />
                                <span class="form-text text-muted">Please enter your first name</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Last Name:</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name"
                                    value="<%= response.data.lastName %>" required />
                                <span class="form-text text-muted">Please enter your last name</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Contact Number:</label>
                                <input type="text" id="contactNumber" name="contactNumber" class="form-control"
                                    placeholder="Enter contact number" value="<%= response.data.contactNumber %>"
                                    required />
                                <span class="form-text text-muted">Please enter your contact number</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Email:</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Enter email address"
                                    value="<%= response.data.email %>" readonly />
                                <span class="form-text text-muted">Please enter your email</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <% if(response.data.profile_image!=''){ %>
                            <div class="col-lg-6">
                                <label>Current  Profile Image:</label>
                                <div class="control">
                                        <img src="/uploads/user/thumb/<%= response.data.profile_image %>"/>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-lg-6">
                                <label>Update Profile Image:</label>
                                <div class="control">
                                <input type="file" id="img_file_input" name="profile_image" accept="image/*" onchange="return validImage()"/>
                                </div>
                                <span class="form-text text-muted">Please update your profile image</span>
                            </div>
                        </div>

                        <% if (user.role[0].role == 'blogger') { %>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Profile Title:</label>
                                <input type="text" id="profile_title" name="profile_title" placeholder="Profile Title" class="form-control"><%= response.data.profile_title %></input>
                                <span class="form-text text-muted">Please enter your profile title</span>
                            </div>
                            <div class="col-lg-6">
                                <label>About Me:</label>
                                <textarea id="about_me" name="about_me" class="form-control"><%= response.data.about_me %></textarea>
                                <span class="form-text text-muted">Please enter something about yourself</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Facebook Link</label>
                                <input type="text" id="facebook_link" name="facebook_link" class="form-control"
                                    placeholder="Facebook Profile Link" value="<%= response.data.facebook_link %>"
                                    data-validation-regex-regex="((http[s]?|ftp[s]?):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*"
                                    data-validation-regex-message="Only Valid URL's" aria-invalid="false" />
                                <span class="form-text text-muted">Please enter facebook link</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Twitter Link</label>
                                <input type="text" id="twitter_link" name="twitter_link" class="form-control"
                                    placeholder="Twitter Link" value="<%= response.data.twitter_link %>"
                                    data-validation-regex-regex="((http[s]?|ftp[s]?):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*"
                                    data-validation-regex-message="Only Valid URL's" aria-invalid="false" />
                                <span class="form-text text-muted">Please enter twitter link</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Instagram Link</label>
                                <input type="text" id="instagram_link" name="instagram_link" class="form-control"
                                    placeholder="Instagram Profile Link" value="<%= response.data.instagram_link %>"
                                    data-validation-regex-regex="((http[s]?|ftp[s]?):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*"
                                    data-validation-regex-message="Only Valid URL's" aria-invalid="false" />
                                <span class="form-text text-muted">Please enter instagram link</span>
                            </div>

                            <div class="col-lg-6">
                                <label>Quora Link</label>
                                <input type="text" id="quora_link" name="quora_link" class="form-control" placeholder="Quora Link"
                                    value="<%= response.data.quora_link %>" data-validation-regex-regex="((http[s]?|ftp[s]?):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*"
                                    data-validation-regex-message="Only Valid URL's" aria-invalid="false" />
                                <span class="form-text text-muted">Please enter Quora link</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>LinkedIn Link</label>
                                <input type="text" id="linkedin_link" name="linkedin_link" class="form-control"
                                    placeholder="LinkedIn Profile Link" value="<%= response.data.linkedin_link %>"
                                    data-validation-regex-regex="((http[s]?|ftp[s]?):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*"
                                    data-validation-regex-message="Only Valid URL's" aria-invalid="false" />
                                <span class="form-text text-muted">Please enter LinkedIn link</span>
                            </div>

                            <div class="col-lg-6">
                                <label>Youtube Link</label>
                                <input type="text" id="youtube_link" name="youtube_link" class="form-control"
                                    placeholder="Youtube Link" value="<%= response.data.youtube_link %>"
                                    data-validation-regex-regex="((http[s]?|ftp[s]?):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*"
                                    data-validation-regex-message="Only Valid URL's" aria-invalid="false" />
                                <span class="form-text text-muted">Please enter Youtube link</span>
                            </div>
                        </div>
                        <% } %>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input id="_id" type="hidden" name="id" value="<%= user.id %>" />
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('user.dashboard')%>">
                                        <button type="button" class="btn btn-secondary">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>
        <% } %>
    </div>
</div>